*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    text-rendering: geometricPrecision
}

html,
body,
div,
span,
img,
label {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

body {
    line-height: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

button {
    border: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    background: none
}

@font-face {
    font-family: Abraham;
    src: url("./assets/fonts/Abraham/Abraham.woff") format("woff")
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url("./assets/fonts/OpenSans/OpenSans-Light.woff") format("woff")
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url("./assets/fonts/OpenSans/OpenSans-Regular.woff") format("woff");
    line-height: 0.77
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url("./assets/fonts/OpenSans/OpenSans-Bold.woff") format("woff")
}

body,
html {
    font-family: OpenSans-Regular, Arial, sans-serif;
    width: 100%;
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-weight: 300
}

html {
    font-size: 62.5%
}

html.desktop {
    font-size: 0.69445vw
}

html.desktop body {
    min-width: 1024px;
    min-height: 70rem
}

@media only screen and (max-width: 1024px) {
    html.desktop {
        font-size: 7.11px
    }
}

body {
    font-size: 1.6rem;
    overflow: hidden
}

body button::-moz-focus-inner {
    border: 0
}

#container {
    width: 100%;
    height: 100%
}

.inner-content {
    width: 100%;
    height: 100%
}

:focus:not(.focus-ring) {
    outline: none
}

#app {
    position: relative;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden
}

#app .cloud-animation img {
    z-index: 1
}

#app .section-content-transition-container {
    position: relative;
    width: 100%;
    height: 100%
}

#app .section-content-transition-container>* {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden
}

#app .modal-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000
}

.desktop .schedule,
.desktop .schedule .schedule-timeline-main-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative
}

.desktop .schedule .scrollable-section,
.desktop .schedule .schedule-timeline-main-content .scrollable-section {
    width: 100%;
    height: 100%
}

.desktop .schedule .header-text,
.desktop .schedule .schedule-timeline-main-content .header-text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 15%;
    width: 100%;
    height: 15rem;
    z-index: 1
}

.desktop .schedule .header-text .secondary-title,
.desktop .schedule .schedule-timeline-main-content .header-text .secondary-title {
    color: #fff;
    text-transform: uppercase
}

.desktop .schedule .header-text .secondary-title,
.desktop .schedule .schedule-timeline-main-content .header-text .secondary-title {
    font-family: "OpenSans-Regular";
    font-size: 1.8rem;
    letter-spacing: 0.26rem;
    margin-top: 2.5rem
}

.desktop .schedule .progress-container,
.desktop .schedule .schedule-timeline-main-content .progress-container {
    z-index: 1;
    top: 69.5%
}

.desktop .schedule .timeline,
.desktop .schedule .schedule-timeline-main-content .timeline {
    position: absolute;
    left: 0;
    bottom: 0;
    top: -webkit-calc(47vh - 16.8rem/2);
    top: calc(47vh - 16.8rem/2)
}

.desktop .schedule .timeline-circle {
    position: absolute;
    left: 0;
    top: 52.193827%;
    stroke: rgba(255, 255, 255, 0.5);
    stroke-width: 3px
}

.desktop .schedule .schedule-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    background-color: #fff;
    z-index: 10
}

@media print {
    @page {
        size: landscape;
        margin: 0mm
    }
}

.activity-slot {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    position: relative;
    margin-left: 5.1rem;
    margin-right: 5.1rem;
    cursor: pointer
}

.activity-slot .inner-content {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative
}

.activity-slot .scaleable,
.activity-slot .background-number {
    cursor: pointer;
    -webkit-user-drag: none
}

.activity-slot .activity-slot-container {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out
}

.activity-slot .dotted-circle-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.activity-slot .dotted-circle-container,
.activity-slot .dotted-circle-container svg {
    width: 16.6rem;
    height: 16.6rem
}

.activity-slot .dotted-circle {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out
}

.activity-slot .background-color {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 50%;
    -webkit-box-shadow: 0 0.7rem 2.5rem 0 rgba(50, 50, 50, 0.3);
    box-shadow: 0 0.7rem 2.5rem 0 rgba(50, 50, 50, 0.3);
    z-index: 1
}

.desktop .activity-slot:hover label,
.desktop .activity-slot:focus label {
    opacity: 1;
    -webkit-transform: translate(-50%, -3.5rem);
    -ms-transform: translate(-50%, -3.5rem);
    transform: translate(-50%, -3.5rem)
}

.activity-slot label {
    font-family: OpenSans-Bold;
    font-size: 1.6rem;
    width: 18rem;
    opacity: 0;
    color: white;
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    text-align: center;
    left: 50%;
    right: 0;
    bottom: 100%;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    line-height: 125%
}

@media only screen and (max-width: 1260px) {
    .desktop .activity-slot label {
        font-size: 14px
    }
}

.activity-slot .desktop:hover:not(.activity-slot .desktop:hover.is-grid-open,
.activity-slot .desktop:focus.is-grid-open) label,
.activity-slot .desktop:focus:not(.activity-slot .desktop:hover.is-grid-open,
.activity-slot .desktop:focus.is-grid-open) label {
    opacity: 1;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%)
}

.activity-slot .background-number {
    font-family: "OpenSans-Regular";
    font-size: 3.4rem;
    z-index: 0;
    color: #949494;
    display: inline-block;
    z-index: 1
}

.arc {
    position: absolute;
    width: 100%;
    height: 11.6rem;
    stroke-width: 3.5;
    stroke: white;
    opacity: 0.1;
    fill: none;
    left: 0;
    top: 52.193827%
}

.background-page {
    width: 100%;
    height: 120%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -5;
    pointer-events: none
}

.background-page::after {
    background-image: url("/assets/images/noise.png");
    background-repeat: repeat;
    opacity: 0.65;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3
}

.cloud-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.cloud-animation img {
    position: absolute;
    width: 28.3rem
}

.progress-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: 66%;
    left: 0;
    right: 0;
    margin: auto;
    speak: false
}

.desktop .progress-container {
    min-width: 50rem
}

.desktop .timeline {
    width: 100%;
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    z-index: 1
}

.desktop .timeline .activites-container {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 0rem;
    width: 461rem;
    height: 461rem
}

.desktop .timeline .activites-container .center-container {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100rem;
    height: 100%;
    position: absolute;
    padding-top: 6vh
}

.desktop .timeline .activites-container .center-container .activity-container {
    height: 20rem
}

.desktop .timeline .activites-container .center-container.fiveSlot {
    width: 110rem
}

.desktop .timeline .activites-container .center-container.fiveSlot .activity-container .activity-slot {
    margin-top: 0.5rem
}

.desktop .timeline .activites-container .center-container.fiveSlot .activity-container:last-child .activity-slot,
.desktop .timeline .activites-container .center-container.fiveSlot .activity-container:first-child .activity-slot {
    margin-top: 4.5rem
}

.desktop .timeline .activites-container .center-container.fiveSlot .activity-container:nth-child(2) .activity-slot,
.desktop .timeline .activites-container .center-container.fiveSlot .activity-container:nth-child(4) .activity-slot {
    margin-top: 1.5rem
}

.timeline-circle {
    position: relative;
    width: 100%;
    height: 100%
}

.timeline-circle .arc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 11.6rem;
    stroke: #fff;
    opacity: 0.3;
    stroke-width: 3.5;
    fill: none;
    z-index: 1
}

.timeline-circle .arc-opaque {
    top: 0;
    left: 0;
    width: 100%;
    height: 11.6rem;
    stroke: #fff;
    opacity: 0.1;
    stroke-width: 2.5;
    fill: none
}
