html, body {
      background-color: #FFFFFF;
      color: #000000;
      font: normal 90%/1.8em 'Lucida Grande', Verdana, Geneva, Lucida, Helvetica, Arial, sans-serif;
      margin: 0;
      height: 100%;
}
h1 {
      font-size: 1.8em;
      font-weight: bold;
      margin-top: 0em;
      margin-bottom: 0em;
      color: #White;
}
#header {
      height: 67px;
      padding: 0 0px 0 0px;
      color: #White;
      background-color: #EEEEEE;
      border-bottom: 8px solid #d30a1a;
}