body {
  
}
h3 {
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.row {
}

p {
    margin: 0;
}

.hero-unit {
    width: 180px;
    height: 800px;
    padding: 20px;
    float: left;
}
.content {
    height: auto;
    min-height: 800px;
    padding-top: 50px;
}
.hero-unit li{
    line-height: 30px;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
}
.add-book {
    float: left;
}

.add-many-book {
    float: left;
}
.item-book {
    width: 210px;
    height: 280px;
    padding-right: 30px;
    float: left;
}

.thumbnail {
    width: 210px;
    height: 210px;
    background-size: 210px 210px;
}

.books-detail {
    width: 260px;
    float: left;
}

.disableLink {
}

.navbar .navbar-inner .container {
}

.navbar-inverse .navbar-inner {
    background-color: white;
}

.navbar .nav > li > a {
}

 .navbar .nav > li > a:hover {
}

/* styles for validation helpers */
.field-validation-error {
}

.field-validation-valid {
 }

input.input-validation-error {
}

input[type="checkbox"].input-validation-error {
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
}

/* styles for removing the background from form */
.no-color {
}
