<div class="hero-unit">
    <li>@Html.ActionLink("Номын жагсаалт харах", "Index", "ManageBooks")</li>
    <li>@Html.ActionLink("Ном нэмэх", "Add", "ManageBooks")</li>
    <li>@Html.ActionLink("Олон ном нэмэх", "AddMany", "ManageBooks")</li>
</div>
