.activity-slot:hover  {
  box-shadow: 0px 0px 150px #000000;
   z-index: 2;
   -webkit-transition: all 200ms ease-in;
   -webkit-transform: scale(1.5);
   -ms-transition: all 200ms ease-in;
   -ms-transform: scale(1.5);
   -moz-transition: all 200ms ease-in;
   -moz-transform: scale(1.5);
   transition: all 200ms ease-in;
   transform: scale(1.5);
}
