.activity-slot:hover  {
  box-shadow: 0px 0px 150px #000000;
   z-index: 2;
   -webkit-transition: all 200ms ease-in;
   -webkit-transform: scale(1.5);
   -ms-transition: all 200ms ease-in;
   -ms-transform: scale(1.5);
   -moz-transition: all 200ms ease-in;
   -moz-transform: scale(1.5);
   transition: all 200ms ease-in;
   transform: scale(1.5);
}

body {
    width: 100wh !important;
    height: 90vh !important;
    color: #fff !important;
    background: linear-gradient(-45deg,
#D420FD,#83F4FC) !important;
    background-size: 400% 400% !important;
    -webkit-animation: Gradient 15s ease infinite !important;
    -moz-animation: Gradient 15s ease infinite !important;
    animation: Gradient 15s ease infinite !important;
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
