.activity-slot:hover  {
  box-shadow: 0px 0px 150px #000000;
   z-index: 2;
   -webkit-transition: all 200ms ease-in;
   -webkit-transform: scale(1.5);
   -ms-transition: all 200ms ease-in;
   -ms-transform: scale(1.5);
   -moz-transition: all 200ms ease-in;
   -moz-transform: scale(1.5);
   transition: all 200ms ease-in;
   transform: scale(1.5);
}

body {
    width: 100wh !important;
    height: 90vh !important;
    color: #fff !important;
    background: linear-gradient(-45deg,
#D420FD,#83F4FC) !important;
    background-size: 400% 400% !important;
    -webkit-animation: Gradient 15s ease infinite !important;
    -moz-animation: Gradient 15s ease infinite !important;
    animation: Gradient 15s ease infinite !important;
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.ml2 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}
.secondary-title{

  text-transform: uppercase;
  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,50%);
  animation:  text 5s 1;
  width: 100%;
  color: white;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: 8px;
  margin-bottom: 20px;
}

@keyframes text{
  0%{
    color: #6699ff;
    margin-bottom: -40px;
  }
50%{
    letter-spacing: 40px;
    margin-bottom: -40px;
  }
}
