<!DOCTYPE html>
<!-- saved from url=(0065)http://buildyourbestday.participaction.com/en-ca/schedule/morning -->
<html class="desktop x1 chrome 67 windows gr__buildyourbestday_participaction_com">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Intelligo-game</title>
    <link rel="stylesheet" type="text/css" href="/user/main.css">
    <link rel="stylesheet" type="text/css" href="/user/demo.css">
    <link rel="apple-touch-icon" sizes="180x180" href="">
    <link rel="icon" type="image/png" sizes="32x32" href="img/star.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/star.png">
    <link rel="manifest" href="http://buildyourbestday.participaction.com/assets/images/favicons/manifest.json">
    <link rel="mask-icon" href="http://buildyourbestday.participaction.com/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="star.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WJC9DG');
    </script>
</head>
<!-- Google Tag Manager -->

<!-- End Google Tag Manager -->

<body data-gr-c-s-loaded="true">
    <!-- Google Tag Manager (noscript) -->
    <noscript aria-hidden="true">
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJC9DG" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>


    <script type="text/javascript" id="">
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments)
        }
        gtag("js", new Date);
        gtag("config", "DC-4114252");
    </script>

    <iframe height="0" width="0" style="display: none; visibility: hidden;" src="/user/activityi.html"></iframe>
    <script type="text/javascript" id="">
        gtag("event", "conversion", {
            allow_custom_scripts: !0,
            send_to: "DC-4114252/invmedia/hikn8gz5+standard"
        });
    </script>
    <noscript>
        <img src="https://ad.doubleclick.net/ddm/activity/src=4114252;type=invmedia;cat=hikn8gz5;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" alt="">

    </noscript>

    <div id="container">
        <div data-reactroot="" id="app" class="english">
            <div class="cloud-animation">
              <img src="/user/cloud.png"
              aria-hidden="true" alt="Cloud" role="presentation"
              style="top: 69%; opacity: 1; transform: translate(-99.4353%, -50%) translate3d(0px, 0px, 0px) scale(0.45, 0.45);">

              <!--
              <img src="" aria-hidden="true" alt="Cloud" role="presentation" style="top: 8%; transform: translate(510%, -50%) matrix(0.8, 0, 0, 0.8, 0, 0);">
              <img src="" aria-hidden="true" alt="Cloud" role="presentation" style="top: 68%; transform: translate(510%, -50%) matrix(0.67, 0, 0, 0.67, 0, 0);"></div> -->

<!-- background -->

            <div class="background-page">
              </div><span class="modal-wrapper"></span>
              <div class="section-content-transition-container">
                <div class="schedule morning" tabindex="-1">
                    <div class="schedule-overlay"></div>
                  <span></span><span>
                      <div class="timeline-circle"><svg class="arc" x="0px" y="0px" viewBox="0 0 1440 115"><path fill="none" d="M0,112C165.6,59.6,411.9,1.5,714.4,1.5c308-0.5,558.5,59.8,725.6,112" style="stroke-dashoffset: 0px; stroke-dasharray: 1463;"></path></svg><svg class="arc-opaque" x="0px" y="0px" viewBox="0 0 1440.9 115"><path fill="none" d="M0,112C165.6,59.6,411.9,1.5,714.4,1.5c308-0.5,558.5,59.8,725.6,112"></path></svg></div></span>

<!--  Lets start begin page-->
                    <div class="schedule-timeline-main-content">
                        <div class="scrollable-section"><span><div class="header-text" style="pointer-events: initial; visibility: inherit; opacity: 1;">

                          <div aria-hidden="true" class="secondary-title">LET'S DO BEST!</div>

                          <span role="alert" aria-label="Use arrow keys to review your currently selected activities" style="width: 1px; height: 1px;"></span></div>
                        </span><span></span>
                        <div class="timeline">
                            <div class="activites-container" style="left: 50%; transform: translate(-50%, 0%) matrix(1, 0, 0, 1, 0, 0);">
                                <div class="center-container fiveSlot">
                                    <div class="activity-container" id="activity-0">
                                        <div class="activity-slot is-empty" tabindex="-1" style="transform: matrix(1.1, 0, 0, 1.1, 0, 0);">
                                            <button class="activity-slot-container" aria-label="Activity Slot 1" tabindex="0">
                                                <div class="inner-content" aria-hidden="true">
                                                    <label></label>
                                                    <div class="background-color scaleable" style="transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);"></div>
                                                    <span class="background-number" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><!-- react-text: 153 --> <!-- /react-text --><!-- react-text: 154 -->1<!-- /react-text --><!-- react-text: 155 --> <!-- /react-text --></span>
                                                    <div class="dotted-circle-container scaleable" style="transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);">
                                                        <svg aria-hidden="true" role="presentation" class="dotted-circle" viewBox="0 0 188.2 188.2">
                                                            <desc>Created with Snap</desc>
                                                            <defs></defs>
                                                            <path d="M94.109,1.5C145.205,1.505,186.7,42.903,186.7,94.1C186.7,145.2,145.29999999999998,186.7,94.1,186.7C42.89999999999999,186.6,1.5,145.2,1.5,94.1C1.5,94.1,1.5,94.1,1.5,94.1C1.5,42.9,42.9,1.5,94.1,1.5C94.1,1.5,94.1,1.5,94.1,1.5C94.1,1.5,94.1,1.5,94.1,1.5" stroke="#ffffff" style="opacity: 0.5; fill-opacity: 0; stroke-width: 3; stroke-dasharray: 0.05, 5; stroke-linecap: round;"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="activity-container" id="activity-1">
                                        <div class="activity-slot is-empty" tabindex="-1" style="transform: matrix(1, 0, 0, 1, 0, 0);">
                                            <button class="activity-slot-container" aria-label="Activity Slot 2" tabindex="0">
                                                <div class="inner-content" aria-hidden="true">
                                                    <label></label>
                                                    <div class="background-color scaleable" style="transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);"></div><span class="background-number" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><!-- react-text: 165 --> <!-- /react-text --><!-- react-text: 166 -->2<!-- /react-text --><!-- react-text: 167 --> <!-- /react-text --></span>
                                                    <div class="dotted-circle-container scaleable" style="transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);">
                                                        <svg aria-hidden="true" role="presentation" class="dotted-circle" viewBox="0 0 188.2 188.2">
                                                            <desc>Created with Snap</desc>
                                                            <defs></defs>
                                                            <path d="M94.109,1.5C145.205,1.505,186.7,42.903,186.7,94.1C186.7,145.2,145.29999999999998,186.7,94.1,186.7C42.89999999999999,186.6,1.5,145.2,1.5,94.1C1.5,94.1,1.5,94.1,1.5,94.1C1.5,42.9,42.9,1.5,94.1,1.5C94.1,1.5,94.1,1.5,94.1,1.5C94.1,1.5,94.1,1.5,94.1,1.5" stroke="#ffffff" style="opacity: 0.5; fill-opacity: 0; stroke-width: 3; stroke-dasharray: 0.05, 5; stroke-linecap: round;"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="activity-container" id="activity-2">
                                        <div class="activity-slot is-empty" tabindex="-1" style="transform: matrix(1, 0, 0, 1, 0, 0);">
                                            <button class="activity-slot-container" aria-label="Activity Slot 3" tabindex="0">
                                                <div class="inner-content" aria-hidden="true">
                                                    <label></label>
                                                    <div class="background-color scaleable" style="transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);"></div>

                                                  <span class="background-number" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><!-- react-text: 177 --> <!-- /react-text --><!-- react-text: 178 -->3<!-- /react-text --><!-- react-text: 179 --> <!-- /react-text --></span>
                                                    <div class="dotted-circle-container scaleable" style="transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);">
                                                        <svg aria-hidden="true" role="presentation" class="dotted-circle" viewBox="0 0 188.2 188.2">
                                                            <desc>Created with Snap</desc>
                                                            <defs></defs>
                                                            <path d="M94.109,1.5C145.205,1.505,186.7,42.903,186.7,94.1C186.7,145.2,145.29999999999998,186.7,94.1,186.7C42.89999999999999,186.6,1.5,145.2,1.5,94.1C1.5,94.1,1.5,94.1,1.5,94.1C1.5,42.9,42.9,1.5,94.1,1.5C94.1,1.5,94.1,1.5,94.1,1.5C94.1,1.5,94.1,1.5,94.1,1.5" stroke="#ffffff" style="opacity: 0.5; fill-opacity: 0; stroke-width: 3; stroke-dasharray: 0.05, 5; stroke-linecap: round;"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="activity-container" id="activity-3">
                                        <div class="activity-slot is-empty" tabindex="-1" style="transform: matrix(1, 0, 0, 1, 0, 0);">
                                            <button class="activity-slot-container" aria-label="Activity Slot 4" tabindex="0">
                                                <div class="inner-content" aria-hidden="true">
                                                    <label></label>
                                                    <div class="background-color scaleable" style="transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);"></div>

                                                    <span class="background-number" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><!-- react-text: 189 --> <!-- /react-text --><!-- react-text: 190 -->4<!-- /react-text --><!-- react-text: 191 --> <!-- /react-text --></span>
                                                    <div class="dotted-circle-container scaleable" style="transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);">
                                                        <svg aria-hidden="true" role="presentation" class="dotted-circle" viewBox="0 0 188.2 188.2">
                                                            <desc>Created with Snap</desc>
                                                            <defs></defs>
                                                            <path d="M94.109,1.5C145.205,1.505,186.7,42.903,186.7,94.1C186.7,145.2,145.29999999999998,186.7,94.1,186.7C42.89999999999999,186.6,1.5,145.2,1.5,94.1C1.5,94.1,1.5,94.1,1.5,94.1C1.5,42.9,42.9,1.5,94.1,1.5C94.1,1.5,94.1,1.5,94.1,1.5C94.1,1.5,94.1,1.5,94.1,1.5" stroke="#ffffff" style="opacity: 0.5; fill-opacity: 0; stroke-width: 3; stroke-dasharray: 0.05, 5; stroke-linecap: round;"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="activity-container" id="activity-4">
                                        <div class="activity-slot is-empty" tabindex="-1" style="transform: matrix(1, 0, 0, 1, 0, 0);">
                                            <button class="activity-slot-container" aria-label="Activity Slot 5" tabindex="0">
                                                <div class="inner-content" aria-hidden="true">
                                                    <label></label>
                                                    <div class="background-color scaleable" style="transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);"></div>
                                                    <span class="background-number" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><!-- react-text: 201 --> <!-- /react-text --><!-- react-text: 202 -->5<!-- /react-text --><!-- react-text: 203 --> <!-- /react-text --></span>
                                                    <div class="dotted-circle-container scaleable" style="transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);">
                                                        <svg aria-hidden="true" role="presentation" class="dotted-circle" viewBox="0 0 188.2 188.2">
                                                            <desc>Created with Snap</desc>
                                                            <defs></defs>
                                                            <path d="M94.109,1.5C145.205,1.505,186.7,42.903,186.7,94.1C186.7,145.2,145.29999999999998,186.7,94.1,186.7C42.89999999999999,186.6,1.5,145.2,1.5,94.1C1.5,94.1,1.5,94.1,1.5,94.1C1.5,42.9,42.9,1.5,94.1,1.5C94.1,1.5,94.1,1.5,94.1,1.5C94.1,1.5,94.1,1.5,94.1,1.5" stroke="#ffffff" style="opacity: 0.5; fill-opacity: 0; stroke-width: 3; stroke-dasharray: 0.05, 5; stroke-linecap: round;"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><span><div class="progress-container" aria-hidden="true" style="pointer-events: initial; visibility: inherit; opacity: 1;">
                          <div aria-hidden="false">

    <div style="display: none; visibility: hidden;">
        <script>
            ! function(b, e, f, g, a, c, d) {
                b.fbq || (a = b.fbq = function() {
                    a.callMethod ? a.callMethod.apply(a, arguments) : a.queue.push(arguments)
                }, b._fbq || (b._fbq = a), a.push = a, a.loaded = !0, a.version = "2.0", a.queue = [], c = e.createElement(f), c.async = !0, c.src = g, d = e.getElementsByTagName(f)[0], d.parentNode.insertBefore(c, d))
            }(window, document, "script", "https://connect.facebook.net/en_US/fbevents.js");
            fbq("init", "544000075984492");
            fbq("track", "PageView");
        </script>
        <noscript></noscript>
        // Wrap every letter in a span
$('.ml2').each(function(){
  $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>"));
});

anime.timeline({loop: true})
  .add({
    targets: '.ml2 .letter',
    scale: [4,1],
    opacity: [0,1],
    translateZ: 0,
    easing: "easeOutExpo",
    duration: 950,
    delay: function(el, i) {
      return 70*i;
    }
  }).add({
    targets: '.ml2',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 1000
  });

    </div>
</body>

</html>
