<!DOCTYPE html>
<html class="desktop x1 chrome 67 windows gr__buildyourbestday_participaction_com">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Intelligo-game</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="">
    <link rel="icon" type="image/png" sizes="32x32" href="img/star.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/star.png">
    <link rel="shortcut icon" href="star.png">
    <script src="https://aframe.io/releases/0.8.2/aframe.min.js"></script>

    <script src="js/component/aframe-tooltip-component.js"></script>
    <script src="js/component/camera-position.js"></script>
    <script src="js/component/ground.js"></script>
    <script src="js/component/link-controls.js"></script>
    <script src="js/component/skyGradient.js"></script>
</head>

<body>

      <a-scene>
        <a-sky color="#ECECEC"></a-sky>
        <a-plane position="0 0 -4" rotation="-90 0 0" width="100" height="100" color="#7BC8A4"></a-plane>

        <a-assets>
          <a-mixin id="plane" geometry="height: 1; width: 6" pivot="-2 0.5 0"></a-mixin>
        </a-assets>

        <!-- Series of planes that use pivot, position, and animated scales to reveal themselves. -->
        <a-entity position="-2 -1 -7" rotation="0 35 0">
          <% var counter=8;%>
          <% for (var player of players) { %>
            <% counter-=1.1;%>
            <a-plane mixin="plane" position="0 <%- counter %> 0" color="#F16745">
              <a-animation attribute="scale" from="1 0 1" to="1 1 1" dur="750" delay="500"
                           fill="backwards"></a-animation>
              <a-text value="<%- player.name %> <%- player.score %>" color="FAFAFA"></a-text>
            </a-plane>

          <% } %>
        </a-entity>

        <a-entity id="sky"
                  geometry="primitive: sphere; radius: 65;"
                  material="shader: flat; color: #47c9ff; side: double"></a-entity>
        <a-entity id="ground"
                  geometry="primitive: circle; radius: 8;"
                  rotation="-90 0 0"
                  material="shader: flat; src: #arena"></a-entity>
        <a-entity id="leftHand" link-controls="hand: left"></a-entity>
        <a-entity id="rightHand" link-controls="hand: right"></a-entity>
    </a-scene>
</body>
</html>
