<!DOCTYPE html>
<!-- saved from url=(0065)http://buildyourbestday.participaction.com/en-ca/schedule/morning -->
<html class="desktop x1 chrome 67 windows gr__buildyourbestday_participaction_com">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Intelligo-game</title>
    <link rel="stylesheet" type="text/css" href="/user/main.css">
    <link rel="stylesheet" type="text/css" href="/user/demo.css">
    <link rel="apple-touch-icon" sizes="180x180" href="">
    <link rel="icon" type="image/png" sizes="32x32" href="img/star.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/star.png">
  <link rel="shortcut icon" href="star.png">
    <div id="particles-js"></div>
    <script type="text/javascript" src="particle.js"></script>
    <script type="text/javascript" src="app1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

</head>

<body data-gr-c-s-loaded="true" id="particles-rank">
<div  class="board">  <h1><center><b>Leaderboard</b></center></h1></div>
<div class="background" >
    <div class="table-cell">
      <ul class="leader">
        <li>
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" />
          <h2 class="name"><font color="#000000">Drew Vosburg    </h2>
            <h2 class="result">9,735</h2>
              <img class="award" src="img/award.png" />
        </li>

        <li>
          <img src="https://lh6.googleusercontent.com/-566ZpvrYxRo/AAAAAAAAAAI/AAAAAAAAAAA/kZk-O1q__A0/s128-c-k/photo.jpg" />
          <h2 class="name">Jesse Nelson </h2>
          <h2 class="result"> 8,364 </h2>
            <img class="award" src="img/award.png" />

        </li>

        <li>
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" />
          <h2 class="name">Joel Bullis </h2>
            <h2 class="result">7,621</h2>
              <img class="award" src="img/award.png" />
        </li>

        <li>
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/uxceo/128.jpg" />
          <h2 class="name">Carmen SanDiego </h2>
            <h2 class="result">10,621</h2>
              <img class="award" src="img/award.png" />
        </li>

        <li>
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" />
          <h2 class="name">Charles Barkley </h2>
          <h2 class="result">2,651</h2>
          <img class="award" src="img/award.png" />
        </li>
        <li>
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" />
          <h2 class="name">Charles Barkley </h2>
          <h2 class="result">2,651</h2>
          <img class="award" src="img/award.png" />
        </li>
        <li>
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" />
          <h2 class="name">Charles Barkley </h2>
          <h2 class="result">2,651</h2>
          <img class="award" src="img/award.png" />
        </li>
        <li>
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" />
          <h2 class="name">Charles Barkley</h2>
          <h2 class="result">2,651</h2>
          <img class="award" src="img/award.png" />
        </li>
        <li>
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" />
          <h2 class="name">Charles Barkley </h2>
          <h2 class="result">2,651</h2>
          <img class="award" src="img/award.png" />
        </li>
        <li>
          <img src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg" />
          <h2 class="name">Charles Barkley </h2>
          <h2 class="result">2,651</h2>
          <img class="award" src="img/award.png" />
        </li>
      </ul>
    </div>

</body>
<script src="/js/particles.js"></script>
<script>
    /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
    particlesJS.load('particles-rank', 'js/rank-particles.json', function() {
        console.log('callback - particles.js config loaded');
    });
</script>
</html>
