<html class="game-start gr__localhost">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Intelligo-game</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="">
    <link rel="icon" type="image/png" sizes="32x32" href="img/star.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/star.png">
    <link rel="shortcut icon" href="star.png">
    <script src="https://aframe.io/releases/0.8.2/aframe.min.js"></script>
    <script src="js/component/aframe-tooltip-component.js"></script>
    <script src="js/component/camera-position.js"></script>
    <script src="js/component/ground.js"></script>
    <script src="js/component/link-controls.js"></script>
    <script src="js/component/skyGradient.js"></script>
</head>

<body>
    <a-scene fog="color: #241417; near: 0; far: 30;" raycaster="far: 100; objects: [link];" cursor="rayOrigin: mouse" camera-position>
        <a-sky color="#ECECEC"></a-sky>
        <a-plane position="0 0 -4" rotation="-90 0 0" width="100" height="100" color="#7BC8A4"></a-plane>
        <a-assets>
          <img id="arena" crossOrigin="anonymous" src="https://cdn.aframe.io/link-traversal/aframeArena.png">
          <img id="thumbCity" crossOrigin="anonymous" src="https://cdn.aframe.io/link-traversal/thumbs/city.png">
          <img id="thumbSunrise" crossOrigin="anonymous" src="https://cdn.aframe.io/link-traversal/thumbs/sunrise.png">
          <img id="thumbMountains" crossOrigin="anonymous" src="https://cdn.aframe.io/link-traversal/thumbs/mountains.png">
        </a-assets>

        <a-link href="/play" position="-3.5 1.5 -1.0" image="#thumbCity"></a-link>
        <a-link href="/play" position="0 1.8 -1.0" image="#thumbSunrise"></a-link>
        <a-link href="/play" position="3.5 1.5 -1.0" image="#thumbMountains"></a-link>
        <a-entity id="sky"
                  geometry="primitive: sphere; radius: 65;"
                  material="shader: flat; color: #47c9ff; side: double"></a-entity>
        <a-entity id="ground"
                  geometry="primitive: circle; radius: 8;"
                  rotation="-90 0 0"
                  material="shader: flat; src: #arena"></a-entity>
        <a-entity id="leftHand" link-controls="hand: left"></a-entity>
        <a-entity id="rightHand" link-controls="hand: right"></a-entity>
    </a-scene>
</body>

</html>
