<!DOCTYPE html>
<!-- saved from url=(0065)http://buildyourbestday.participaction.com/en-ca/schedule/morning -->
<html class="desktop x1 chrome 67 windows gr__buildyourbestday_participaction_com">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Intelligo-game</title>
    <link rel="stylesheet" type="text/css" href="/user/main.css">
    <link rel="stylesheet" type="text/css" href="/user/demo.css">
    <link rel="apple-touch-icon" sizes="180x180" href="">
    <link rel="icon" type="image/png" sizes="32x32" href="img/star.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/star.png">
    <link rel="manifest" href="http://buildyourbestday.participaction.com/assets/images/favicons/manifest.json">
    <link rel="mask-icon" href="http://buildyourbestday.participaction.com/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="star.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WJC9DG');
    </script>
</head>
<!-- Google Tag Manager -->

<!-- End Google Tag Manager -->

<body data-gr-c-s-loaded="true">
    <!-- Google Tag Manager (noscript) -->
    <noscript aria-hidden="true">
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJC9DG" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
<!--
    <script type="text/javascript" src="/user/vendor.js"></script>

    <script type="text/javascript" src="/user/bundle.js"></script> -->

    <script type="text/javascript" id="">
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments)
        }
        gtag("js", new Date);
        gtag("config", "DC-4114252");
    </script>

    <iframe height="0" width="0" style="display: none; visibility: hidden;" src="/user/activityi.html"></iframe>
    <script type="text/javascript" id="">
        gtag("event", "conversion", {
            allow_custom_scripts: !0,
            send_to: "DC-4114252/invmedia/hikn8gz5+standard"
        });
    </script>

    <noscript>

        <img src="https://ad.doubleclick.net/ddm/activity/src=4114252;type=invmedia;cat=hikn8gz5;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" alt="">

    </noscript>

    <div id="container">
        <div data-reactroot="" id="app" class="english">
            <div class="cloud-animation">
              <img src="/user/cloud.png"
              aria-hidden="true" alt="Cloud" role="presentation"
              style="top: 69%; opacity: 1; transform: translate(-99.4353%, -50%) translate3d(0px, 0px, 0px) scale(0.45, 0.45);">

              <!--
              <img src="" aria-hidden="true" alt="Cloud" role="presentation" style="top: 8%; transform: translate(510%, -50%) matrix(0.8, 0, 0, 0.8, 0, 0);">
              <img src="" aria-hidden="true" alt="Cloud" role="presentation" style="top: 68%; transform: translate(510%, -50%) matrix(0.67, 0, 0, 0.67, 0, 0);"></div> -->

<!-- background -->

            <div class="background-page">

            </div><span class="modal-wrapper"></span>
            <div class="section-content-transition-container">



                <div class="schedule morning" tabindex="-1">
                    <div class="schedule-overlay"></div>
                    <div class="time-of-day-pagination">
                        <div class="icon morning-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40" preserveAspectRatio="xMidYMid meet" style="width: 100%; height: 100%;">
                                <defs>
                                    <clippath id="animationMask_0AcLcsOk1U">
                                        <rect width="40" height="40" x="0" y="0"></rect>
                                    </clippath>
                                    <clippath id="cp_JzAub9ZU">
                                        <path d="M0,0 L1440,0 L1440,810 L0,810z" style="stroke: rgb(255, 255, 255);"></path>
                                    </clippath>
                                    <clippath id="cp_E1ozIt2X">
                                        <path d="M0,0 L1440,0 L1440,810 L0,810z" style="stroke: rgb(255, 255, 255);"></path>
                                    </clippath>
                                    <clippath id="cp_i2RfALP8">
                                        <path d="M0,0 L1440,0 L1440,810 L0,810z" style="stroke: rgb(255, 255, 255);"></path>
                                    </clippath>
                                    <clippath id="cp_rNQwTTmB">
                                        <path d="M0,0 L1440,0 L1440,810 L0,810z" style="stroke: rgb(255, 255, 255);"></path>
                                    </clippath>
                                    <mask id="LDZLw8W98k">
                                        <rect fill="#ffffff" width="1440" height="810" x="-54.5" y="-3.25"></rect>
                                        <path fill="#000000" clip-rule="nonzero" d=" M713.188,38.563 C713.188,38.563 678.75,38.563 678.75,38.563 C678.75,38.563 678.75,58.099 678.75,58.099 C678.75,58.099 713.188,58.099 713.188,58.099 C713.188,58.099 713.188,38.563 713.188,38.563" fill-opacity="1" style="stroke: rgb(255, 255, 255);"></path>
                                    </mask>
                                    <mask id="HUwVcyr8h3">
                                        <rect fill="#ffffff" width="1440" height="810" x="-730.687" y="-26.113999999999997"></rect>
                                        <path fill="#000000" clip-rule="nonzero" d=" M42.188,16.886 C42.188,16.886 3.788,16.886 3.788,16.886 C3.788,16.886 3.788,28.886 3.788,28.886 C3.788,28.886 42.188,28.886 42.188,28.886 C42.188,28.886 42.188,16.886 42.188,16.886" fill-opacity="1" style="stroke: rgb(255, 255, 255);"></path>
                                    </mask>
                                    <clippath id="cp_HF4hMFZt">
                                        <path d="M0,0 L360,0 L360,151 L0,151z" style="stroke: rgb(255, 255, 255);"></path>
                                    </clippath>
                                    <clippath id="cp_8smOARpi">
                                        <path d="M0,0 L1440,0 L1440,810 L0,810z" style="stroke: rgb(255, 255, 255);"></path>
                                    </clippath>
                                    <clippath id="cp_VGXJhapF">
                                        <path d="M0,0 L1440,0 L1440,810 L0,810z" style="stroke: rgb(255, 255, 255);"></path>
                                    </clippath>
                                    <clippath id="cp_TAK5YoW2">
                                        <path d="M0,0 L1440,0 L1440,810 L0,810z" style="stroke: rgb(255, 255, 255);"></path>
                                    </clippath>
                                    <mask id="F9Ozh2h7Lb">
                                        <rect fill="#ffffff" width="1440" height="810"></rect>
                                        <path fill="#000000" clip-rule="nonzero" d=" M643,44 C634.323,44 621.898,50.432 623.104,55.783 C624.712,62.921 642,69.5 642,69.5 C642,69.5 662.75,61.25 662.75,61.25 C662.75,61.25 663.25,44 643,44" style="stroke: rgb(255, 255, 255);"></path>
                                    </mask>
                                    <clippath id="cp_oCltgPjV">
                                        <path d="M0,0 L1440,0 L1440,810 L0,810z" style="stroke: rgb(255, 255, 255);"></path>
                                    </clippath>
                                    <mask id="Ce7LoVopmy">
                                        <rect fill="#ffffff" width="1440" height="810"></rect>
                                        <path fill="#000000" clip-rule="nonzero" d=" M20.779,21.433 C19.59,21.433 18.423,21.521 17.278,21.684 C12.870999999999999,22.308 8.841000000000001,24.099 5.5,26.726 C5.5,26.726 5.5,37.05 5.5,37.05 C5.5,37.05 36.313,37.05 36.313,37.05 C36.313,37.05 35.875,26.581 35.875,26.581 C32.57,24.032 28.607,22.296 24.28,21.684 C23.136000000000003,21.521 21.968,21.433 20.779,21.433" style="stroke: rgb(255, 255, 255);"></path>
                                    </mask>
                                    <mask id="TwAw3Ei9PU">
                                        <rect fill="#ffffff" width="1440" height="810" x="-622.312" y="-23.387"></rect>
                                        <path fill="#000000" clip-rule="nonzero" d=" M20.779,21.433 C19.59,21.433 18.423,21.521 17.278,21.684 C12.870999999999999,22.308 8.841000000000001,24.099 5.5,26.726 C5.5,26.726 5.5,37.05 5.5,37.05 C5.5,37.05 36.313,37.05 36.313,37.05 C36.313,37.05 35.875,26.581 35.875,26.581 C32.57,24.032 28.607,22.296 24.28,21.684 C23.136000000000003,21.521 21.968,21.433 20.779,21.433" fill-opacity="1" style="stroke: rgb(255, 255, 255);"></path>
                                    </mask>
                                </defs>
                                <g clip-path="url(#animationMask_0AcLcsOk1U)">
                                    <g clip-path="url(#cp_JzAub9ZU)" transform="matrix(1,0,0,1,-622.5,-19.75)" opacity="1">
                                        <g clip-path="url(#cp_VGXJhapF)" transform="matrix(1,0,0,1,0,0)" opacity="1">
                                            <g mask="url(#TwAw3Ei9PU)" transform="matrix(1,0,0,1,622.312,23.387)" opacity="1" style="user-select: none;">
                                                <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M20.279,12.384 C22.902,12.384 25.029,14.511 25.029,17.134 C25.029,19.757 22.902,21.884 20.279,21.884 C17.656,21.884 15.529,19.757 15.529,17.134 C15.529,14.511 17.656,12.384 20.279,12.384z" style="stroke: rgb(255, 255, 255);"></path>
                                                <g opacity="1" transform="matrix(1,0,0,1,20.279,16.634)"></g>
                                            </g>
                                            <g transform="matrix(1,0,0,1,622.312,23.387)" opacity="1" style="user-select: none; display: block;">
                                                <g opacity="1" transform="matrix(1,0,0,1,20.188,23.579)">
                                                    <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M15.188,2.501 C11.883000000000001,-0.04800000000000004 7.9190000000000005,-1.7839999999999998 3.592,-2.396 C2.4480000000000004,-2.5589999999999997 1.28,-2.646 0.091,-2.646 C-1.098,-2.646 -2.265,-2.5589999999999997 -3.41,-2.396 C-7.817,-1.7719999999999998 -11.847000000000001,0.019000000000000128 -15.188,2.646"></path>
                                                </g>
                                            </g>
                                            <g style="user-select: none; display: block;" transform="matrix(1,0,0,1,622.313,23.325)" opacity="1">
                                                <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M28.948,17.065 C28.948,17.065 32.21,17.065 32.34,17.065"></path>
                                                <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                            </g>
                                            <g style="user-select: none; display: block;" transform="matrix(1,0,0,1,622.313,23.325)" opacity="1">
                                                <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M26.409000000000002,10.934999999999999 C26.409000000000002,10.934999999999999 28.618000000000002,8.725999999999999 28.797,8.546999999999999"></path>
                                                <g opacity="1" transform="matrix(1,0,0,1,27.609,9.735)"></g>
                                            </g>
                                            <g style="user-select: none; display: block;" transform="matrix(1,0,0,1,622.313,23.325)" opacity="1">
                                                <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M20.279,8.396 C20.279,8.396 20.279,5.134 20.279,5.004"></path>
                                                <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                            </g>
                                            <g style="user-select: none; display: block;" transform="matrix(1,0,0,1,622.312,23.325)" opacity="1">
                                                <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M14.15,10.934999999999999 C14.15,10.934999999999999 11.939,8.725999999999999 11.76,8.546999999999999"></path>
                                                <g opacity="1" transform="matrix(1,0,0,1,12.949,9.735)"></g>
                                            </g>
                                            <g style="user-select: none; display: block;" transform="matrix(1,0,0,1,622.313,23.325)" opacity="1">
                                                <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M11.61,17.065 C11.61,17.065 8.348,17.065 8.218,17.065"></path>
                                                <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                            </g>
                                            <g></g>
                                            <g mask="url(#Ce7LoVopmy)" style="user-select: none; display: none;">
                                                <path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none; stroke: rgb(255, 255, 255);"></path>
                                                <g></g>
                                            </g>
                                            <g></g>
                                            <g style="user-select: none; display: none;">
                                                <path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none; stroke: rgb(255, 255, 255);"></path>
                                                <g></g>
                                            </g>
                                            <g clip-path="url(#cp_TAK5YoW2)">
                                                <g mask="url(#F9Ozh2h7Lb)" style="display: none;">
                                                    <g clip-path="url(#cp_oCltgPjV)" style="display: none;">
                                                        <g style="user-select: none; display: none;">
                                                            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none; stroke: rgb(255, 255, 255);"></path>
                                                            <g></g>
                                                        </g>
                                                        <g style="user-select: none; display: none;">
                                                            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none; stroke: rgb(255, 255, 255);"></path>
                                                            <g></g>
                                                        </g>
                                                        <g style="user-select: none; display: none;">
                                                            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none; stroke: rgb(255, 255, 255);"></path>
                                                            <g></g>
                                                        </g>
                                                        <g style="user-select: none; display: none;">
                                                            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none; stroke: rgb(255, 255, 255);"></path>
                                                            <g></g>
                                                        </g>
                                                        <g style="user-select: none; display: none;">
                                                            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none; stroke: rgb(255, 255, 255);"></path>
                                                            <g></g>
                                                        </g>
                                                        <g style="user-select: none; display: none;">
                                                            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none; stroke: rgb(255, 255, 255);"></path>
                                                            <g></g>
                                                        </g>
                                                        <g style="user-select: none; display: none;">
                                                            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none; stroke: rgb(255, 255, 255);"></path>
                                                            <g></g>
                                                        </g>
                                                        <g style="user-select: none; display: none;">
                                                            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none; stroke: rgb(255, 255, 255);"></path>
                                                            <g></g>
                                                        </g>
                                                    </g>
                                                    <g style="display: none;"></g>
                                                </g>
                                            </g>
                                        </g>
                                        <g clip-path="url(#cp_HF4hMFZt)" transform="matrix(1,0,0,1,542,-27)" opacity="1">
                                            <g transform="matrix(1,0,0,1,137.436,50.936)" opacity="1" style="user-select: none; display: none;">
                                                <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M21.771,17.064 C21.771,19.663 19.664,21.771 17.064,21.771 C14.465,21.771 12.357,19.663 12.357,17.064 C12.357,14.465 14.465,12.357 17.064,12.357 C19.664,12.357 21.771,14.465 21.771,17.064z" style="stroke: rgb(255, 255, 255); display: none;"></path>
                                                <g opacity="1" transform="matrix(1,0,0,1,17.064,17.064)"></g>
                                            </g>
                                            <g transform="matrix(0.9987,0.0519,-0.0519,0.9987,138.3439,50.074)" opacity="1" style="user-select: none; display: block;">
                                                <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M21.771,17.064 C21.771,19.663 19.664,21.771 17.064,21.771 C14.465,21.771 12.357,19.663 12.357,17.064 C12.357,14.465 14.465,12.357 17.064,12.357 C19.664,12.357 21.771,14.465 21.771,17.064z"></path>
                                                <g opacity="1" transform="matrix(1,0,0,1,17.064,17.064)"></g>
                                            </g>
                                            <g transform="matrix(1,0,0,1,137.435,50.935)" opacity="1" style="user-select: none; display: none;">
                                                <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M17.065,25.734 C17.065,25.734 17.065,29.13 17.065,29.13"></path>
                                                <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                            </g>
                                            <g transform="matrix(1,0,0,1,137.435,50.935)" opacity="1" style="user-select: none; display: none;">
                                                <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M23.195,23.195 C23.195,23.195 25.595,25.595 25.595,25.595"></path>
                                                <g opacity="1" transform="matrix(1,0,0,1,24.395,24.395)"></g>
                                            </g>
                                            <g transform="matrix(1,0,0,1,137.435,50.935)" opacity="1" style="user-select: none; display: none;">
                                                <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M25.734,17.065 C25.734,17.065 29.13,17.065 29.13,17.065"></path>
                                                <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                            </g>
                                            <g transform="matrix(1,0,0,1,137.435,50.935)" opacity="1" style="user-select: none; display: none;">
                                                <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M23.195,10.934999999999999 C23.195,10.934999999999999 25.595,8.535 25.595,8.535"></path>
                                                <g opacity="1" transform="matrix(1,0,0,1,24.395,9.735)"></g>
                                            </g>
                                            <g transform="matrix(1,0,0,1,137.435,50.935)" opacity="1" style="user-select: none; display: none;">
                                                <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M17.065,8.396 C17.065,8.396 17.065,5 17.065,5"></path>
                                                <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                            </g>
                                            <g transform="matrix(1,0,0,1,137.435,50.935)" opacity="1" style="user-select: none; display: none;">
                                                <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M10.936,10.934999999999999 C10.936,10.934999999999999 8.533999999999999,8.535 8.533999999999999,8.535"></path>
                                                <g opacity="1" transform="matrix(1,0,0,1,9.735,9.735)"></g>
                                            </g>
                                            <g transform="matrix(1,0,0,1,137.435,50.935)" opacity="1" style="user-select: none; display: none;">
                                                <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M8.396,17.065 C8.396,17.065 5,17.065 5,17.065"></path>
                                                <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                            </g>
                                            <g transform="matrix(1,0,0,1,137.435,50.935)" opacity="1" style="user-select: none; display: none;">
                                                <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M10.936,23.195 C10.936,23.195 8.533999999999999,25.595 8.533999999999999,25.595"></path>
                                                <g opacity="1" transform="matrix(1,0,0,1,9.735,24.395)"></g>
                                            </g>
                                            <g clip-path="url(#cp_8smOARpi)" style="display: block;" transform="matrix(0.9987,0.0519,-0.0519,0.9987,-538.9616,-8.564)" opacity="1">
                                                <g transform="matrix(1,0,0,1,679.435,23.435)" opacity="1" style="user-select: none; display: block;">
                                                    <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M17.065,26.048 C17.065,26.663 17.065,28.028 17.065,28.716"></path>
                                                    <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                                </g>
                                                <g transform="matrix(1,0,0,1,679.435,23.435)" opacity="1" style="user-select: none; display: block;">
                                                    <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M23.195,23.195 C23.195,23.195 23.308,23.308 23.485,23.485"></path>
                                                    <g opacity="1" transform="matrix(1,0,0,1,24.395,24.395)"></g>
                                                </g>
                                                <g transform="matrix(1,0,0,1,679.435,23.435)" opacity="1" style="user-select: none; display: block;">
                                                    <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M26.048,17.065 C26.663,17.065 28.028,17.065 28.716,17.065"></path>
                                                    <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                                </g>
                                                <g transform="matrix(1,0,0,1,679.435,23.435)" opacity="1" style="user-select: none; display: block;">
                                                    <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M23.195,10.934999999999999 C23.195,10.934999999999999 23.308,10.822 23.485,10.645"></path>
                                                    <g opacity="1" transform="matrix(1,0,0,1,24.395,9.735)"></g>
                                                </g>
                                                <g transform="matrix(1,0,0,1,679.435,23.435)" opacity="1" style="user-select: none; display: block;">
                                                    <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M17.065,8.082 C17.065,7.467 17.065,6.102 17.065,5.414"></path>
                                                    <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                                </g>
                                                <g transform="matrix(1,0,0,1,679.435,23.435)" opacity="1" style="user-select: none; display: block;">
                                                    <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M10.936,10.934999999999999 C10.936,10.934999999999999 10.823,10.822 10.645999999999999,10.645"></path>
                                                    <g opacity="1" transform="matrix(1,0,0,1,9.735,9.735)"></g>
                                                </g>
                                                <g transform="matrix(1,0,0,1,679.435,23.435)" opacity="1" style="user-select: none; display: block;">
                                                    <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M8.082,17.065 C7.467,17.065 6.102,17.065 5.414,17.065"></path>
                                                    <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                                </g>
                                                <g transform="matrix(1,0,0,1,679.435,23.435)" opacity="1" style="user-select: none; display: block;">
                                                    <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M10.936,23.195 C10.936,23.195 10.823,23.308 10.645999999999999,23.485"></path>
                                                    <g opacity="1" transform="matrix(1,0,0,1,9.735,24.395)"></g>
                                                </g>
                                            </g>
                                        </g>
                                        <g clip-path="url(#cp_i2RfALP8)" transform="matrix(1,0,0,1,0,0)" opacity="1">
                                            <g transform="matrix(1,0,0,1,732.187,26.268)" opacity="1" style="user-select: none; display: none;">
                                                <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M24.784000000000002,10.934999999999999 C24.784000000000002,10.934999999999999 27.184,8.535 27.184,8.535"></path>
                                                <g opacity="1" transform="matrix(1,0,0,1,25.984,9.735)"></g>
                                            </g>
                                            <g transform="matrix(1,0,0,1,732.188,26.268)" opacity="1" style="user-select: none; display: none;">
                                                <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M18.654,8.396 C18.654,8.396 18.654,5 18.654,5"></path>
                                                <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                            </g>
                                            <g transform="matrix(1,0,0,1,732.188,26.268)" opacity="1" style="user-select: none; display: none;">
                                                <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M12.524000000000001,10.934999999999999 C12.524000000000001,10.934999999999999 10.122,8.535 10.122,8.535"></path>
                                                <g opacity="1" transform="matrix(1,0,0,1,11.323,9.735)"></g>
                                            </g>
                                            <g transform="matrix(1,0,0,1,732.188,26.268)" opacity="1" style="user-select: none; display: none;">
                                                <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M23.36,17.065 C23.36,14.465 21.253,12.359 18.653,12.359 C16.054,12.359 13.945999999999998,14.465 13.945999999999998,17.065"></path>
                                                <g opacity="1" transform="matrix(1,0,0,1,18.653,14.712)"></g>
                                            </g>
                                            <g transform="matrix(1,0,0,1,732.188,26.269)" opacity="1" style="user-select: none; display: none;">
                                                <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M32.507,17.395 C32.507,17.395 5,17.463 5,17.463" style="stroke: rgb(255, 255, 255); display: none;"></path>
                                                <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                            </g>
                                            <g transform="matrix(1,0,0,1,732.188,26.269)" opacity="1" style="user-select: none; display: none;">
                                                <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: none; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M28.374,22.463 C28.374,22.463 8.999,22.463 8.999,22.463"></path>
                                                <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                            </g>
                                            <g style="user-select: none; display: block;" transform="matrix(1,0,0,1,732.188,26.269)" opacity="1">
                                                <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M32.507,17.395 C32.507,17.395 5,17.463 5,17.463"></path>
                                                <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                            </g>
                                            <g style="user-select: none; display: block;" transform="matrix(1,0,0,1,732.188,26.269)" opacity="1">
                                                <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M28.374,22.463 C28.374,22.463 8.999,22.463 8.999,22.463"></path>
                                                <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                            </g>
                                            <g mask="url(#HUwVcyr8h3)" style="user-select: none; display: block;" transform="matrix(1,0,0,1,730.687,26.114)" opacity="1">
                                                <path stroke-linecap="butt" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M20.279,12.384 C22.902,12.384 25.029,14.511 25.029,17.134 C25.029,19.757 22.902,21.884 20.279,21.884 C17.656,21.884 15.529,19.757 15.529,17.134 C15.529,14.511 17.656,12.384 20.279,12.384z"></path>
                                                <g opacity="1" transform="matrix(1,0,0,1,20.279,16.634)"></g>
                                            </g>
                                            <g clip-path="url(#cp_rNQwTTmB)" transform="matrix(1,0,0,1,54.5,3.25)" opacity="1">
                                                <g mask="url(#LDZLw8W98k)" style="display: block;">
                                                    <g transform="matrix(1,0,0,1,679.435,23.435)" opacity="1" style="user-select: none; display: block;">
                                                        <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M17.065,26.048 C17.065,26.663 17.065,28.028 17.065,28.716"></path>
                                                        <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                                    </g>
                                                    <g transform="matrix(1,0,0,1,679.435,23.435)" opacity="1" style="user-select: none; display: block;">
                                                        <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M23.195,23.195 C23.195,23.195 23.308,23.308 23.485,23.485"></path>
                                                        <g opacity="1" transform="matrix(1,0,0,1,24.395,24.395)"></g>
                                                    </g>
                                                    <g transform="matrix(1,0,0,1,679.435,23.435)" opacity="1" style="user-select: none; display: block;">
                                                        <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M26.048,17.065 C26.663,17.065 28.028,17.065 28.716,17.065"></path>
                                                        <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                                    </g>
                                                    <g transform="matrix(1,0,0,1,679.435,23.435)" opacity="1" style="user-select: none; display: block;">
                                                        <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M23.195,10.934999999999999 C23.195,10.934999999999999 23.308,10.822 23.485,10.645"></path>
                                                        <g opacity="1" transform="matrix(1,0,0,1,24.395,9.735)"></g>
                                                    </g>
                                                    <g transform="matrix(1,0,0,1,679.435,23.435)" opacity="1" style="user-select: none; display: block;">
                                                        <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M17.065,8.082 C17.065,7.467 17.065,6.102 17.065,5.414"></path>
                                                        <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                                    </g>
                                                    <g transform="matrix(1,0,0,1,679.435,23.435)" opacity="1" style="user-select: none; display: block;">
                                                        <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M10.936,10.934999999999999 C10.936,10.934999999999999 10.823,10.822 10.645999999999999,10.645"></path>
                                                        <g opacity="1" transform="matrix(1,0,0,1,9.735,9.735)"></g>
                                                    </g>
                                                    <g transform="matrix(1,0,0,1,679.435,23.435)" opacity="1" style="user-select: none; display: block;">
                                                        <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M8.082,17.065 C7.467,17.065 6.102,17.065 5.414,17.065"></path>
                                                        <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                                    </g>
                                                    <g transform="matrix(1,0,0,1,679.435,23.435)" opacity="1" style="user-select: none; display: block;">
                                                        <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M10.936,23.195 C10.936,23.195 10.823,23.308 10.645999999999999,23.485"></path>
                                                        <g opacity="1" transform="matrix(1,0,0,1,9.735,24.395)"></g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                        <g clip-path="url(#cp_E1ozIt2X)" transform="matrix(1,0,0,1,0,0)" opacity="1">
                                            <g transform="matrix(0.9962,-0.087,0.087,0.9962,789.6409,27.982)" opacity="1" style="user-select: none; display: block;">
                                                <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgb(255, 255, 255);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M12.615,11.018 C12.537,10.433 12.543,9.828 12.643,9.216000000000001 C12.892,7.692 13.686,6.395 14.788,5.481 C10.449,5 6.445,7.99 5.734,12.348 C4.9990000000000006,16.848 8.053,21.092 12.554,21.826999999999998 C16.912,22.538 21.019,19.693 21.942,15.426 C20.725,16.18 19.244,16.52 17.72,16.271 C17.72,16.271 17.72,16.271 17.72,16.271 C14.982,15.825 12.963000000000001,13.633000000000001 12.615,11.018"></path>
                                                <g opacity="1" transform="matrix(1,0,0,1,13.471,13.769)"></g>
                                            </g>
                                            <g transform="matrix(1,0,0,1,790.779,26.731)" opacity="1" style="user-select: none; display: none;">
                                                <g opacity="1" transform="matrix(1,0,0,1,13.471,13.769)">
                                                    <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M-0.856,-2.751 C-0.934,-3.336 -0.928,-3.941 -0.828,-4.553 C-0.579,-6.077 0.21499999999999986,-7.3740000000000006 1.317,-8.288 C-3.0220000000000002,-8.769 -7.026,-5.779 -7.737,-1.421 C-8.472,3.0789999999999997 -5.418,7.3229999999999995 -0.917,8.058 C3.441,8.769 7.548,5.924 8.471,1.657 C7.254,2.411 5.773,2.751 4.249,2.502 C4.249,2.502 4.249,2.502 4.249,2.502 C1.511,2.056 -0.508,-0.136 -0.856,-2.751" style="stroke: rgb(255, 255, 255); display: none;"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="icon afternoon-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40" preserveAspectRatio="xMidYMid meet" style="width: 100%; height: 100%;">
                                <defs>
                                    <clippath id="animationMask_THVDCPLwIF">
                                        <rect width="40" height="40" x="0" y="0"></rect>
                                    </clippath>
                                    <clippath id="cp_6VPREQwT">
                                        <path d="M0,0 L1440,0 L1440,810 L0,810z" style="stroke: rgba(255, 255, 255, 0.3);"></path>
                                    </clippath>
                                </defs>
                                <g clip-path="url(#animationMask_THVDCPLwIF)">
                                    <g clip-path="url(#cp_6VPREQwT)" transform="matrix(1,0,0,1,-622.5,-19.75)" opacity="1">
                                        <g transform="matrix(1,0,0,1,702.936,387.935)" opacity="1" style="user-select: none;">
                                            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M21.771,17.064 C21.771,19.663 19.664,21.771 17.064,21.771 C14.465,21.771 12.357,19.663 12.357,17.064 C12.357,14.465 14.465,12.357 17.064,12.357 C19.664,12.357 21.771,14.465 21.771,17.064z" style="stroke: rgba(255, 255, 255, 0.3);"></path>
                                            <g opacity="1" transform="matrix(1,0,0,1,17.064,17.064)"></g>
                                        </g>
                                        <g transform="matrix(1,0,0,1,702.935,387.935)" opacity="1" style="user-select: none; display: block;">
                                            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgba(255, 255, 255, 0.3);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M17.065,25.734 C17.065,25.734 17.065,29.13 17.065,29.13"></path>
                                            <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                        </g>
                                        <g transform="matrix(1,0,0,1,702.935,387.935)" opacity="1" style="user-select: none; display: block;">
                                            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgba(255, 255, 255, 0.3);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M23.195,23.195 C23.195,23.195 25.595,25.595 25.595,25.595"></path>
                                            <g opacity="1" transform="matrix(1,0,0,1,24.395,24.395)"></g>
                                        </g>
                                        <g transform="matrix(1,0,0,1,702.935,387.935)" opacity="1" style="user-select: none; display: block;">
                                            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgba(255, 255, 255, 0.3);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M25.734,17.065 C25.734,17.065 29.13,17.065 29.13,17.065"></path>
                                            <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                        </g>
                                        <g transform="matrix(1,0,0,1,702.935,387.935)" opacity="1" style="user-select: none; display: block;">
                                            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgba(255, 255, 255, 0.3);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M23.195,10.934999999999999 C23.195,10.934999999999999 25.595,8.535 25.595,8.535"></path>
                                            <g opacity="1" transform="matrix(1,0,0,1,24.395,9.735)"></g>
                                        </g>
                                        <g transform="matrix(1,0,0,1,702.935,387.935)" opacity="1" style="user-select: none; display: block;">
                                            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgba(255, 255, 255, 0.3);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M17.065,8.396 C17.065,8.396 17.065,5 17.065,5"></path>
                                            <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                        </g>
                                        <g transform="matrix(1,0,0,1,702.935,387.935)" opacity="1" style="user-select: none; display: block;">
                                            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgba(255, 255, 255, 0.3);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M10.936,10.934999999999999 C10.936,10.934999999999999 8.533999999999999,8.535 8.533999999999999,8.535"></path>
                                            <g opacity="1" transform="matrix(1,0,0,1,9.735,9.735)"></g>
                                        </g>
                                        <g transform="matrix(1,0,0,1,702.935,387.935)" opacity="1" style="user-select: none; display: block;">
                                            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgba(255, 255, 255, 0.3);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M8.396,17.065 C8.396,17.065 5,17.065 5,17.065"></path>
                                            <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                        </g>
                                        <g transform="matrix(1,0,0,1,702.935,387.935)" opacity="1" style="user-select: none; display: block;">
                                            <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgba(255, 255, 255, 0.3);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M10.936,23.195 C10.936,23.195 8.533999999999999,25.595 8.533999999999999,25.595"></path>
                                            <g opacity="1" transform="matrix(1,0,0,1,9.735,24.395)"></g>
                                        </g>
                                        <g></g>
                                    </g>
                                    <g transform="matrix(1,0,0,1,2.936,2.935)" opacity="1" style="user-select: none;">
                                        <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M21.771,17.064 C21.771,19.663 19.664,21.771 17.064,21.771 C14.465,21.771 12.357,19.663 12.357,17.064 C12.357,14.465 14.465,12.357 17.064,12.357 C19.664,12.357 21.771,14.465 21.771,17.064z" style="stroke: rgba(255, 255, 255, 0.3);"></path>
                                        <g opacity="1" transform="matrix(1,0,0,1,17.064,17.064)"></g>
                                    </g>
                                    <g transform="matrix(1,0,0,1,2.935,2.935)" opacity="1" style="user-select: none; display: block;">
                                        <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgba(255, 255, 255, 0.3);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M17.065,25.734 C17.065,25.734 17.065,29.13 17.065,29.13"></path>
                                        <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                    </g>
                                    <g transform="matrix(1,0,0,1,2.935,2.935)" opacity="1" style="user-select: none; display: block;">
                                        <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgba(255, 255, 255, 0.3);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M23.195,23.195 C23.195,23.195 25.595,25.595 25.595,25.595"></path>
                                        <g opacity="1" transform="matrix(1,0,0,1,24.395,24.395)"></g>
                                    </g>
                                    <g transform="matrix(1,0,0,1,2.935,2.935)" opacity="1" style="user-select: none; display: block;">
                                        <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgba(255, 255, 255, 0.3);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M25.734,17.065 C25.734,17.065 29.13,17.065 29.13,17.065"></path>
                                        <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                    </g>
                                    <g transform="matrix(1,0,0,1,2.935,2.935)" opacity="1" style="user-select: none; display: block;">
                                        <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgba(255, 255, 255, 0.3);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M23.195,10.934999999999999 C23.195,10.934999999999999 25.595,8.535 25.595,8.535"></path>
                                        <g opacity="1" transform="matrix(1,0,0,1,24.395,9.735)"></g>
                                    </g>
                                    <g transform="matrix(1,0,0,1,2.935,2.935)" opacity="1" style="user-select: none; display: block;">
                                        <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgba(255, 255, 255, 0.3);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M17.065,8.396 C17.065,8.396 17.065,5 17.065,5"></path>
                                        <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                    </g>
                                    <g transform="matrix(1,0,0,1,2.935,2.935)" opacity="1" style="user-select: none; display: block;">
                                        <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgba(255, 255, 255, 0.3);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M10.936,10.934999999999999 C10.936,10.934999999999999 8.533999999999999,8.535 8.533999999999999,8.535"></path>
                                        <g opacity="1" transform="matrix(1,0,0,1,9.735,9.735)"></g>
                                    </g>
                                    <g transform="matrix(1,0,0,1,2.935,2.935)" opacity="1" style="user-select: none; display: block;">
                                        <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgba(255, 255, 255, 0.3);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M8.396,17.065 C8.396,17.065 5,17.065 5,17.065"></path>
                                        <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                    </g>
                                    <g transform="matrix(1,0,0,1,2.935,2.935)" opacity="1" style="user-select: none; display: block;">
                                        <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgba(255, 255, 255, 0.3);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M10.936,23.195 C10.936,23.195 8.533999999999999,25.595 8.533999999999999,25.595"></path>
                                        <g opacity="1" transform="matrix(1,0,0,1,9.735,24.395)"></g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="icon evening-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40" preserveAspectRatio="xMidYMid meet" style="width: 100%; height: 100%;">
                                <defs>
                                    <clippath id="animationMask_SbgwSDnS0A">
                                        <rect width="40" height="40" x="0" y="0"></rect>
                                    </clippath>
                                </defs>
                                <g clip-path="url(#animationMask_SbgwSDnS0A)">
                                    <g transform="matrix(1,0,0,1,1.763,5.419)" opacity="1" style="user-select: none; display: block;">
                                        <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgba(255, 255, 255, 0.3);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M24.784000000000002,10.934999999999999 C24.784000000000002,10.934999999999999 27.184,8.535 27.184,8.535"></path>
                                        <g opacity="1" transform="matrix(1,0,0,1,25.984,9.735)"></g>
                                    </g>
                                    <g transform="matrix(1,0,0,1,1.763,5.419)" opacity="1" style="user-select: none; display: block;">
                                        <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgba(255, 255, 255, 0.3);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M18.654,8.396 C18.654,8.396 18.654,5 18.654,5"></path>
                                        <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                    </g>
                                    <g transform="matrix(1,0,0,1,1.764,5.419)" opacity="1" style="user-select: none; display: block;">
                                        <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgba(255, 255, 255, 0.3);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M12.524000000000001,10.934999999999999 C12.524000000000001,10.934999999999999 10.122,8.535 10.122,8.535"></path>
                                        <g opacity="1" transform="matrix(1,0,0,1,11.323,9.735)"></g>
                                    </g>
                                    <g transform="matrix(1,0,0,1,1.764,5.419)" opacity="1" style="user-select: none; display: block;">
                                        <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgba(255, 255, 255, 0.3);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M23.36,17.065 C23.36,14.465 21.253,12.359 18.653,12.359 C16.054,12.359 13.945999999999998,14.465 13.945999999999998,17.065"></path>
                                        <g opacity="1" transform="matrix(1,0,0,1,18.653,14.712)"></g>
                                    </g>
                                    <g transform="matrix(1,0,0,1,1.763,5.42)" opacity="1" style="user-select: none;">
                                        <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M32.507,17.395 C32.507,17.395 5,17.463 5,17.463" style="stroke: rgba(255, 255, 255, 0.3);"></path>
                                        <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                    </g>
                                    <g transform="matrix(1,0,0,1,1.763,5.42)" opacity="1" style="user-select: none; display: block;">
                                        <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" style="display: block; stroke: rgba(255, 255, 255, 0.3);" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M28.374,22.463 C28.374,22.463 8.999,22.463 8.999,22.463"></path>
                                        <g opacity="1" transform="matrix(1,0,0,1,0,0)"></g>
                                    </g>
                                    <g></g>
                                </g>
                            </svg>
                        </div>
                        <div class="icon night-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40" preserveAspectRatio="xMidYMid meet" style="width: 100%; height: 100%;">
                                <defs>
                                    <clippath id="animationMask_RYeR27Aww2">
                                        <rect width="40" height="40" x="0" y="0"></rect>
                                    </clippath>
                                </defs>
                                <g clip-path="url(#animationMask_RYeR27Aww2)">
                                    <g transform="matrix(1,0,0,1,6.216,6.317)" opacity="1" style="user-select: none;">
                                        <path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(255,255,255)" stroke-opacity="1" stroke-width="2" d="M0 0 M12.615,11.018 C12.537,10.433 12.543,9.828 12.643,9.216000000000001 C12.892,7.692 13.686,6.395 14.788,5.481 C10.449,5 6.445,7.99 5.734,12.348 C4.9990000000000006,16.848 8.053,21.092 12.554,21.826999999999998 C16.912,22.538 21.019,19.693 21.942,15.426 C20.725,16.18 19.244,16.52 17.72,16.271 C17.72,16.271 17.72,16.271 17.72,16.271 C14.982,15.825 12.963000000000001,13.633000000000001 12.615,11.018" style="stroke: rgba(255, 255, 255, 0.3);"></path>
                                        <g opacity="1" transform="matrix(1,0,0,1,13.471,13.769)"></g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                    </div><span></span><span><div class="timeline-circle"><svg class="arc" x="0px" y="0px" viewBox="0 0 1440 115"><path fill="none" d="M0,112C165.6,59.6,411.9,1.5,714.4,1.5c308-0.5,558.5,59.8,725.6,112" style="stroke-dashoffset: 0px; stroke-dasharray: 1463;"></path></svg><svg class="arc-opaque" x="0px" y="0px" viewBox="0 0 1440.9 115"><path fill="none" d="M0,112C165.6,59.6,411.9,1.5,714.4,1.5c308-0.5,558.5,59.8,725.6,112"></path></svg></div></span>
                    <div class="schedule-timeline-main-content">
                        <div class="scrollable-section"><span><div class="header-text" style="pointer-events: initial; visibility: inherit; opacity: 1;">

                          <div aria-hidden="true" class="secondary-title">LET'S DO BEST!</div>

                          <span role="alert" aria-label="Use arrow keys to review your currently selected activities" style="width: 1px; height: 1px;"></span></div>
                        </span><span></span>
                        <div class="timeline">
                            <div class="activites-container" style="left: 50%; transform: translate(-50%, 0%) matrix(1, 0, 0, 1, 0, 0);">
                                <div class="center-container fiveSlot">
                                    <div class="activity-container" id="activity-0">
                                        <div class="activity-slot is-empty" tabindex="-1" style="transform: matrix(1.1, 0, 0, 1.1, 0, 0);">
                                            <button class="activity-slot-container" aria-label="Activity Slot 1" tabindex="0">
                                                <div class="inner-content" aria-hidden="true">
                                                    <label></label>
                                                    <div class="background-color scaleable" style="transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);"></div>
                                                    <span class="background-number" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><!-- react-text: 153 --> <!-- /react-text --><!-- react-text: 154 -->1<!-- /react-text --><!-- react-text: 155 --> <!-- /react-text --></span>
                                                    <div class="dotted-circle-container scaleable" style="transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);">
                                                        <svg aria-hidden="true" role="presentation" class="dotted-circle" viewBox="0 0 188.2 188.2">
                                                            <desc>Created with Snap</desc>
                                                            <defs></defs>
                                                            <path d="M94.109,1.5C145.205,1.505,186.7,42.903,186.7,94.1C186.7,145.2,145.29999999999998,186.7,94.1,186.7C42.89999999999999,186.6,1.5,145.2,1.5,94.1C1.5,94.1,1.5,94.1,1.5,94.1C1.5,42.9,42.9,1.5,94.1,1.5C94.1,1.5,94.1,1.5,94.1,1.5C94.1,1.5,94.1,1.5,94.1,1.5" stroke="#ffffff" style="opacity: 0.5; fill-opacity: 0; stroke-width: 3; stroke-dasharray: 0.05, 5; stroke-linecap: round;"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="activity-container" id="activity-1">
                                        <div class="activity-slot is-empty" tabindex="-1" style="transform: matrix(1, 0, 0, 1, 0, 0);">
                                            <button class="activity-slot-container" aria-label="Activity Slot 2" tabindex="0">
                                                <div class="inner-content" aria-hidden="true">
                                                    <label></label>
                                                    <div class="background-color scaleable" style="transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);"></div><span class="background-number" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><!-- react-text: 165 --> <!-- /react-text --><!-- react-text: 166 -->2<!-- /react-text --><!-- react-text: 167 --> <!-- /react-text --></span>
                                                    <div class="dotted-circle-container scaleable" style="transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);">
                                                        <svg aria-hidden="true" role="presentation" class="dotted-circle" viewBox="0 0 188.2 188.2">
                                                            <desc>Created with Snap</desc>
                                                            <defs></defs>
                                                            <path d="M94.109,1.5C145.205,1.505,186.7,42.903,186.7,94.1C186.7,145.2,145.29999999999998,186.7,94.1,186.7C42.89999999999999,186.6,1.5,145.2,1.5,94.1C1.5,94.1,1.5,94.1,1.5,94.1C1.5,42.9,42.9,1.5,94.1,1.5C94.1,1.5,94.1,1.5,94.1,1.5C94.1,1.5,94.1,1.5,94.1,1.5" stroke="#ffffff" style="opacity: 0.5; fill-opacity: 0; stroke-width: 3; stroke-dasharray: 0.05, 5; stroke-linecap: round;"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="activity-container" id="activity-2">
                                        <div class="activity-slot is-empty" tabindex="-1" style="transform: matrix(1, 0, 0, 1, 0, 0);">
                                            <button class="activity-slot-container" aria-label="Activity Slot 3" tabindex="0">
                                                <div class="inner-content" aria-hidden="true">
                                                    <label></label>
                                                    <div class="background-color scaleable" style="transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);"></div>

                                                  <span class="background-number" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><!-- react-text: 177 --> <!-- /react-text --><!-- react-text: 178 -->3<!-- /react-text --><!-- react-text: 179 --> <!-- /react-text --></span>
                                                    <div class="dotted-circle-container scaleable" style="transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);">
                                                        <svg aria-hidden="true" role="presentation" class="dotted-circle" viewBox="0 0 188.2 188.2">
                                                            <desc>Created with Snap</desc>
                                                            <defs></defs>
                                                            <path d="M94.109,1.5C145.205,1.505,186.7,42.903,186.7,94.1C186.7,145.2,145.29999999999998,186.7,94.1,186.7C42.89999999999999,186.6,1.5,145.2,1.5,94.1C1.5,94.1,1.5,94.1,1.5,94.1C1.5,42.9,42.9,1.5,94.1,1.5C94.1,1.5,94.1,1.5,94.1,1.5C94.1,1.5,94.1,1.5,94.1,1.5" stroke="#ffffff" style="opacity: 0.5; fill-opacity: 0; stroke-width: 3; stroke-dasharray: 0.05, 5; stroke-linecap: round;"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="activity-container" id="activity-3">
                                        <div class="activity-slot is-empty" tabindex="-1" style="transform: matrix(1, 0, 0, 1, 0, 0);">
                                            <button class="activity-slot-container" aria-label="Activity Slot 4" tabindex="0">
                                                <div class="inner-content" aria-hidden="true">
                                                    <label></label>
                                                    <div class="background-color scaleable" style="transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);"></div>

                                                    <span class="background-number" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><!-- react-text: 189 --> <!-- /react-text --><!-- react-text: 190 -->4<!-- /react-text --><!-- react-text: 191 --> <!-- /react-text --></span>
                                                    <div class="dotted-circle-container scaleable" style="transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);">
                                                        <svg aria-hidden="true" role="presentation" class="dotted-circle" viewBox="0 0 188.2 188.2">
                                                            <desc>Created with Snap</desc>
                                                            <defs></defs>
                                                            <path d="M94.109,1.5C145.205,1.505,186.7,42.903,186.7,94.1C186.7,145.2,145.29999999999998,186.7,94.1,186.7C42.89999999999999,186.6,1.5,145.2,1.5,94.1C1.5,94.1,1.5,94.1,1.5,94.1C1.5,42.9,42.9,1.5,94.1,1.5C94.1,1.5,94.1,1.5,94.1,1.5C94.1,1.5,94.1,1.5,94.1,1.5" stroke="#ffffff" style="opacity: 0.5; fill-opacity: 0; stroke-width: 3; stroke-dasharray: 0.05, 5; stroke-linecap: round;"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="activity-container" id="activity-4">
                                        <div class="activity-slot is-empty" tabindex="-1" style="transform: matrix(1, 0, 0, 1, 0, 0);">
                                            <button class="activity-slot-container" aria-label="Activity Slot 5" tabindex="0">
                                                <div class="inner-content" aria-hidden="true">
                                                    <label></label>
                                                    <div class="background-color scaleable" style="transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);"></div>
                                                    <span class="background-number" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><!-- react-text: 201 --> <!-- /react-text --><!-- react-text: 202 -->5<!-- /react-text --><!-- react-text: 203 --> <!-- /react-text --></span>
                                                    <div class="dotted-circle-container scaleable" style="transform: translate(-50%, -50%) matrix(1, 0, 0, 1, 0, 0);">
                                                        <svg aria-hidden="true" role="presentation" class="dotted-circle" viewBox="0 0 188.2 188.2">
                                                            <desc>Created with Snap</desc>
                                                            <defs></defs>
                                                            <path d="M94.109,1.5C145.205,1.505,186.7,42.903,186.7,94.1C186.7,145.2,145.29999999999998,186.7,94.1,186.7C42.89999999999999,186.6,1.5,145.2,1.5,94.1C1.5,94.1,1.5,94.1,1.5,94.1C1.5,42.9,42.9,1.5,94.1,1.5C94.1,1.5,94.1,1.5,94.1,1.5C94.1,1.5,94.1,1.5,94.1,1.5" stroke="#ffffff" style="opacity: 0.5; fill-opacity: 0; stroke-width: 3; stroke-dasharray: 0.05, 5; stroke-linecap: round;"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><span><div class="progress-container" aria-hidden="true" style="pointer-events: initial; visibility: inherit; opacity: 1;">
                          <div aria-hidden="false">
                          <div class="logo-container">
                            <div class="bar-container speed-sweat" aria-label="Sweat">
                              <span class="SVGInline logo-bar-shadow sweat-bar-shadow">
                            </span>
                        <div color="" class="SVGInline logo-bar sweat-bar">
                            <svg class="SVGInline-svg logo-bar-svg sweat-bar-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112 198.6">
                                <path d="M0 198.6h112V0L0 117.7z"></path>
                            </svg>
                        </div>
                        <div class="bar-mask" style="height: 0%;">
                            <div color="" class="SVGInline logo-bar sweat-bar">
                                <svg class="SVGInline-svg logo-bar-svg sweat-bar-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112 198.6">
                                    <path d="M0 198.6h112V0L0 117.7z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="bar-container speed-step" aria-label="Step">
                      <span class="SVGInline logo-bar-shadow step-bar-shadow">
                        <svg class="SVGInline-svg logo-bar-shadow-svg step-bar-shadow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 180 444.7" enable-background="new 0 0 180 444.7"><defs>
                          <filter id="a" x="-40%" y="-40%" width="200%" height="200%">
                            <feoffset result="offOut" in="SourceAlpha"></feoffset>
                            <fegaussianblur result="blurOut" in="offOut" stdDeviation="20"></fegaussianblur>
                            <feblend in="SourceGraphic" in2="blurOut"></feblend></filter></defs>
                            <path filter="url(#a)" d="M34 175.3v211.8h112V57.6z"></path></svg></span>
                        <div color="" class="SVGInline logo-bar step-bar">
                            <svg class="SVGInline-svg logo-bar-svg step-bar-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112 329.5">
                                <path d="M0 117.7v211.8h112V0z"></path>
                            </svg>
                        </div>
                        <div class="bar-mask" style="height: 0%;">
                            <div color="" class="SVGInline logo-bar step-bar">
                                <svg class="SVGInline-svg logo-bar-svg step-bar-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112 329.5">
                                    <path d="M0 117.7v211.8h112V0z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="bar-container speed-sleep" aria-label="Sleep"><span class="SVGInline logo-bar-shadow sleep-bar-shadow"><svg class="SVGInline-svg logo-bar-shadow-svg sleep-bar-shadow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 195.6 664.9" enable-background="new 0 0 195.6 664.9"><defs><filter id="a" x="-40%" y="-40%" width="200%" height="200%"><feoffset result="offOut" in="SourceAlpha"></feoffset><fegaussianblur result="blurOut" in="offOut" stdDeviation="20"></fegaussianblur><feblend in="SourceGraphic" in2="blurOut"></feblend></filter></defs><path filter="url(#a)" d="M98 57.4l-56.2 59.2v490.9h112V116.3z"></path></svg></span>
                        <div color="" class="SVGInline logo-bar sleep-bar">
                            <svg class="SVGInline-svg logo-bar-svg sleep-bar-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112 550.1">
                                <path d="M56.2 0L0 59.2v490.9h112V58.9z"></path>
                            </svg>
                        </div>
                        <div class="bar-mask" style="height: 0%;">
                            <div color="" class="SVGInline logo-bar sleep-bar">
                                <svg class="SVGInline-svg logo-bar-svg sleep-bar-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112 550.1">
                                    <path d="M56.2 0L0 59.2v490.9h112V58.9z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="bar-container speed-sit" aria-label="Sit"><span class="SVGInline logo-bar-shadow sit-bar-shadow"><svg class="SVGInline-svg logo-bar-shadow-svg sit-bar-shadow-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 161.2 186.7" enable-background="new 0 0 161.2 186.7"><defs><filter id="a" x="-40%" y="-40%" width="200%" height="200%"><feoffset result="offOut" in="SourceAlpha"></feoffset><fegaussianblur result="blurOut" in="offOut" stdDeviation="20"></fegaussianblur><feblend in="SourceGraphic" in2="blurOut"></feblend></filter></defs><path filter="url(#a)" d="M24.6 28.5v129.7h112V86.7z"></path></svg></span>
                        <div color="" class="SVGInline logo-bar sit-bar">
                            <svg class="SVGInline-svg logo-bar-svg sit-bar-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112 129.7">
                                <path d="M0 0v129.7h112V58.2z"></path>
                            </svg>
                        </div>
                        <div class="bar-mask" style="height: 0%;">
                            <div color="" class="SVGInline logo-bar sit-bar">
                                <svg class="SVGInline-svg logo-bar-svg sit-bar-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 112 129.7">
                                    <path d="M0 0v129.7h112V58.2z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="icon-container">
                    <div style="opacity: 0; transform: translate(0%, 100%) matrix(1, 0, 0, 1, -49.5, 0);">
                        <div class="sweat-icon speed-icon white">
                            <div class="SVGInline back">
                                <svg class="SVGInline-svg back-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16.7 14.5" enable-background="new 0 0 16.7 14.5" xml:space="preserve">
                                    <path fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
  M13.1,0.9c-0.4-0.1-0.7-0.2-1.1-0.2c-1.6,0-2.9,0.9-3.6,2.2c-0.7-1.3-2-2.2-3.6-2.2C4.4,0.8,4,0.9,3.7,0.9c-2,0.6-3.3,2.8-2.8,4.9
  c0.2,0.9,0.8,1.7,1.4,2.5C3,9.1,3.8,9.9,4.6,10.7c1.2,1,2.4,2,3.6,2.9c0.1,0.1,0.1,0.1,0.2,0.1s0.1-0.1,0.2-0.1
  c1.3-0.9,2.5-1.9,3.6-2.9c0.8-0.7,1.6-1.5,2.3-2.4c0.6-0.7,1.2-1.5,1.4-2.5C16.4,3.7,15.1,1.4,13.1,0.9z"></path>
                                </svg>
                            </div>
                            <div class="SVGInline front">
                                <svg class="SVGInline-svg front-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16.7 14.5" enable-background="new 0 0 16.7 14.5" xml:space="preserve">
                                    <path fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
  M13.1,0.9c-0.4-0.1-0.7-0.2-1.1-0.2c-1.6,0-2.9,0.9-3.6,2.2c-0.7-1.3-2-2.2-3.6-2.2C4.4,0.8,4,0.9,3.7,0.9c-2,0.6-3.3,2.8-2.8,4.9
  c0.2,0.9,0.8,1.7,1.4,2.5C3,9.1,3.8,9.9,4.6,10.7c1.2,1,2.4,2,3.6,2.9c0.1,0.1,0.1,0.1,0.2,0.1s0.1-0.1,0.2-0.1
  c1.3-0.9,2.5-1.9,3.6-2.9c0.8-0.7,1.6-1.5,2.3-2.4c0.6-0.7,1.2-1.5,1.4-2.5C16.4,3.7,15.1,1.4,13.1,0.9z" style="stroke-dasharray: 46; stroke-dashoffset: 0px;"></path>
                                </svg>
                            </div>
                        </div>
                        <label>Sweat</label>
                    </div>
                    <div style="opacity: 0; transform: translate(0%, 100%) matrix(1, 0, 0, 1, -42.5, 0);">
                        <div class="step-icon speed-icon white" style="transform-origin: 100% 100% 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="SVGInline back">
                                <svg class="SVGInline-svg back-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 22.1 12.6" enable-background="new 0 0 22.1 12.6" xml:space="preserve">
                                    <path fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
    M14,3.9l-1.1-2.5"></path>
                                    <path fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
    M11.8,4.6l-1.1-2.4"></path>
                                    <path fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
    M9.4,4.9l-1-2.2"></path>
                                    <path fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
    M5.4,9.1h2.3h13.5v2.7c0,0-9.2,0-14,0l0,0h-6c-0.2,0-0.4-0.1-0.5-0.3c0-0.4,0-1.6,0-2.4C0.8,9.2,5.4,9.2,5.4,9.1z"></path>
                                    <path fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
    M5.5,8.1C5.4,6.9,5.2,5.9,4.7,4.9l0,0C4.6,4.7,4.5,4.7,4.4,4.4l0,0C4.3,4.2,4,3.7,4.1,3.9c0.1,0.1,0,0,0,0l0,0
    c0.1,0,10.4-2.6,12.5-3.2c0.8,2.3,2.2,3.4,4.6,3.3h0.1c0,0.1,0,5.1,0,5.1H5.5c0-0.1,0-0.2,0-0.2C5.5,8.4,5.5,8.2,5.5,8.1z"></path>
                                    <path fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
    M0.9,7.6c0-0.9,0.3-1.9,0.9-2.5c0.5-0.6,1.2-1,1.9-1.2c0.1,0,0.2-0.1,0.3-0.1c0,0,0,0,0.1,0l0,0C4.2,4,4.3,4.2,4.4,4.4l0,0
    c0.1,0.2,0.2,0.3,0.3,0.5l0,0c0.1,0.2,0.2,0.4,0.2,0.6l0,0c0.1,0.2,0.1,0.4,0.2,0.6l0,0c0.1,0.2,0.1,0.4,0.1,0.6l0,0
    c0,0.2,0.1,0.4,0.1,0.6l0,0c0,0.2,0.1,0.4,0.1,0.7l0,0c0,0.2,0,0.5,0,0.7c0,0.1,0,0.1,0,0.2H0.9C0.9,8.6,0.9,8.1,0.9,7.6z"></path>
                                </svg>
                            </div>
                            <div class="SVGInline front">
                                <svg class="SVGInline-svg front-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 22.1 12.6" enable-background="new 0 0 22.1 12.6" xml:space="preserve">
                                    <path fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
    M14,3.9l-1.1-2.5" style="stroke-dasharray: 3; stroke-dashoffset: 0px;"></path>
                                    <path fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
    M11.8,4.6l-1.1-2.4" style="stroke-dasharray: 3; stroke-dashoffset: 0px;"></path>
                                    <path fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
    M9.4,4.9l-1-2.2" style="stroke-dasharray: 3; stroke-dashoffset: 0px;"></path>
                                    <path fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
    M5.4,9.1h2.3h13.5v2.7c0,0-9.2,0-14,0l0,0h-6c-0.2,0-0.4-0.1-0.5-0.3c0-0.4,0-1.6,0-2.4C0.8,9.2,5.4,9.2,5.4,9.1z" style="stroke-dasharray: 47; stroke-dashoffset: 0px;"></path>
                                    <path fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
    M5.5,8.1C5.4,6.9,5.2,5.9,4.7,4.9l0,0C4.6,4.7,4.5,4.7,4.4,4.4l0,0C4.3,4.2,4,3.7,4.1,3.9c0.1,0.1,0,0,0,0l0,0
    c0.1,0,10.4-2.6,12.5-3.2c0.8,2.3,2.2,3.4,4.6,3.3h0.1c0,0.1,0,5.1,0,5.1H5.5c0-0.1,0-0.2,0-0.2C5.5,8.4,5.5,8.2,5.5,8.1z" style="stroke-dasharray: 46; stroke-dashoffset: 0px;"></path>
                                    <path fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
    M0.9,7.6c0-0.9,0.3-1.9,0.9-2.5c0.5-0.6,1.2-1,1.9-1.2c0.1,0,0.2-0.1,0.3-0.1c0,0,0,0,0.1,0l0,0C4.2,4,4.3,4.2,4.4,4.4l0,0
    c0.1,0.2,0.2,0.3,0.3,0.5l0,0c0.1,0.2,0.2,0.4,0.2,0.6l0,0c0.1,0.2,0.1,0.4,0.2,0.6l0,0c0.1,0.2,0.1,0.4,0.1,0.6l0,0
    c0,0.2,0.1,0.4,0.1,0.6l0,0c0,0.2,0.1,0.4,0.1,0.7l0,0c0,0.2,0,0.5,0,0.7c0,0.1,0,0.1,0,0.2H0.9C0.9,8.6,0.9,8.1,0.9,7.6z" style="stroke-dasharray: 17; stroke-dashoffset: 0px;"></path>
                                </svg>
                            </div>
                        </div>
                        <label>Step</label>
                    </div>
                    <div style="opacity: 0; transform: translate(0%, 100%) matrix(1, 0, 0, 1, -44.5, 0);">
                        <div class="sleep-icon speed-icon white" style="transform-origin: 20% 80% 0px; transform: matrix(1, 0, 0, 1, 0, 0);">
                            <div class="SVGInline back">
                                <svg class="SVGInline-svg back-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 15.4 15.9" enable-background="new 0 0 15.4 15.9" xml:space="preserve">
                                    <path fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
  M11.8,10.8c-3.3-0.2-5.9-3.1-5.7-6.5c0.1-1.3,0.6-2.5,1.4-3.5C3.8,0.9,0.8,4,0.8,7.9c0,4,3.2,7.2,7.1,7.2c3.1,0,5.8-2.1,6.8-4.9
  C13.7,10.6,12.7,10.8,11.8,10.8z"></path>
                                </svg>
                            </div>
                            <div class="SVGInline front">
                                <svg class="SVGInline-svg front-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 15.4 15.9" enable-background="new 0 0 15.4 15.9" xml:space="preserve">
                                    <path fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
  M11.8,10.8c-3.3-0.2-5.9-3.1-5.7-6.5c0.1-1.3,0.6-2.5,1.4-3.5C3.8,0.9,0.8,4,0.8,7.9c0,4,3.2,7.2,7.1,7.2c3.1,0,5.8-2.1,6.8-4.9
  C13.7,10.6,12.7,10.8,11.8,10.8z" style="stroke-dasharray: 48; stroke-dashoffset: 0px;"></path>
                                </svg>
                            </div>
                        </div>
                        <label>Sleep</label>
                    </div>
                    <div style="opacity: 0; transform: translate(0%, 100%) matrix(1, 0, 0, 1, -34, 0);">
                        <div class="sit-icon speed-icon white">
                            <div class="SVGInline back">
                                <svg class="SVGInline-svg back-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 22.7 13.6" enable-background="new 0 0 22.7 13.6" xml:space="preserve">
                                    <path class="monitor" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
    M19.7,10.1H3.1V0.8h16.5V10.1z" data-svg-origin="11.400000095367432 10.100000202655792" style="transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0);"></path>
                                    <path fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
    M0.8,12.8H22"></path>
                                </svg>
                            </div>
                            <div class="SVGInline front">
                                <svg class="SVGInline-svg front-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 22.7 13.6" enable-background="new 0 0 22.7 13.6" xml:space="preserve">
                                    <path class="monitor" fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
    M19.7,10.1H3.1V0.8h16.5V10.1z" data-svg-origin="11.400000095367432 10.100000202655792" style="stroke-dasharray: 52; transform-origin: 0px 0px 0px; transform: matrix(1, 0, 0, 1, 0, 0); stroke-dashoffset: 0px;"></path>
                                    <path fill="none" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="
    M0.8,12.8H22" style="stroke-dasharray: 22; stroke-dashoffset: 0px;"></path>
                                </svg>
                            </div>
                        </div>
                        <label>Sit</label>
                    </div>
                </div>
            </div>

        </div>
        </span>
    </div><span></span><span><button class="circle-button disabled next" tabindex="-1" aria-label="NEXT" role="link" style="pointer-events: initial; visibility: inherit; opacity: 1;"><div color="" class="SVGInline button"><svg class="SVGInline-svg button-svg" data-name="ARROW" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><title>pillbutton-arrow-right</title><circle cx="16" cy="16" r="15" fill="none" stroke-width="2"></circle><path stroke-width="2" d="M14.52 11L19 16l-4.48 5" fill="none"></path></svg></div><div class="vertical-text1"><p>NEXT</p></div></button></span><span><button class="circle-button back" aria-label="BACK" role="link" style="pointer-events: initial; visibility: inherit; opacity: 1;"><div color="" class="SVGInline button"><svg class="SVGInline-svg button-svg" data-name="ARROW" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49 49"><circle cx="24.5" cy="24.5" r="23" fill="none"></circle><path d="M25.77 32.17L18.9 24.5l6.87-7.67" fill="none" stroke-width="2"></path></svg></div><div class="vertical-text1"><p>BACK</p></div></button></span><span></span></div>
    </div>
    </div>
    <button class="mute-button" aria-label="Mute" tabindex="0" style="visibility: inherit; opacity: 1;">
        <svg x="0px" y="0px" viewBox="0 0 16 15">
            <path stroke-miterlimit="10" d="M0.5,15V0"></path>
            <path stroke-miterlimit="10" d="M5.5,15V0"></path>
            <path stroke-miterlimit="10" d="M10.5,15V0"></path>
            <path stroke-miterlimit="10" d="M15.5,15V0"></path>
        </svg>
    </button><span>

    </div>
    <div style="display: none; visibility: hidden;">
        <script>
            ! function(b, e, f, g, a, c, d) {
                b.fbq || (a = b.fbq = function() {
                    a.callMethod ? a.callMethod.apply(a, arguments) : a.queue.push(arguments)
                }, b._fbq || (b._fbq = a), a.push = a, a.loaded = !0, a.version = "2.0", a.queue = [], c = e.createElement(f), c.async = !0, c.src = g, d = e.getElementsByTagName(f)[0], d.parentNode.insertBefore(c, d))
            }(window, document, "script", "https://connect.facebook.net/en_US/fbevents.js");
            fbq("init", "544000075984492");
            fbq("track", "PageView");
        </script>
        <noscript></noscript>
        // Wrap every letter in a span
$('.ml2').each(function(){
  $(this).html($(this).text().replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>"));
});

anime.timeline({loop: true})
  .add({
    targets: '.ml2 .letter',
    scale: [4,1],
    opacity: [0,1],
    translateZ: 0,
    easing: "easeOutExpo",
    duration: 950,
    delay: function(el, i) {
      return 70*i;
    }
  }).add({
    targets: '.ml2',
    opacity: 0,
    duration: 1000,
    easing: "easeOutExpo",
    delay: 1000
  });

    </div>
</body>

</html>
