@font-face {
  font-family: "Lobster-Regular";
  src: url("/fonts/Lobster-Regular/Lobster-Regular.eot");
  src: url("/fonts/Lobster-Regular/Lobster-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Lobster-Regular/Lobster-Regular.woff") format("woff"), url("/fonts/Lobster-Regular/Lobster-Regular.ttf") format("truetype"), url("/fonts/Lobster-Regular/Lobster-Regular.svg#aller") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  padding: 0;
  margin: 0; }

html, body {
  font-family: Lobster-Regular, arial, sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden; }

#canvas {
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  position: absolute; }

#my_velocityvideo {
  /* hard coding so that it hides behind the canvas*/
  position: absolute;
  top: 50px;
  left: 500px;
  z-index: -1; }

div {
  position: absolute;
  left: 0px; }

.start_game_menu {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1; }
  .start_game_menu h1 {
    font-size: 50px;
    padding: 10px;
    color: #FAFAFA; }

p {
  font-size: 20px; }

#start_game_btn {
  font-family: Lobster-Regular, arial, sans-serif;
  margin-top: 10px;
  height: 70px;
  width: 200px;
  border-radius: 5px;
  font-size: 25px;
  border: none;
  color: #128053;
  background-color: #49ffdc; }
  #start_game_btn:hover {
    cursor: pointer; }

.end_game_menu {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  background-color: #333475;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1; }
  .end_game_menu ol {
    color: #afb2bc; }
    .end_game_menu ol li p {
      float: left; }

.end_game_menu h1 {
  padding: 10px;
  color: #afb2bc;
  font-size: 50px; }

.end_game_menu h2 {
  color: #afb2bc;
  padding: 10px;
  font-size: 30px; }

.end_game_menu p {
  color: #afb2bc; }

#particles-start .particles-js-canvas-el {
  position: absolute;
  z-index: -1; }

#particles-end .particles-js-canvas-el {
  position: absolute;
  z-index: -1; }

#try_again_btn {
  border: 2px solid #afb2bc;
  height: 40px;
  width: 150px;
  font-size: 20px;
  background-color: transparent;
  color: #afb2bc; }
  #try_again_btn:hover {
    cursor: pointer; }

.animated {
  animation-duration: 1s;
  animation-fill-mode: both; }

@keyframes fadeOutUp {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0); } }

.fadeOutUp {
  animation-name: fadeOutUp; }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none; } }

.fadeInUp {
  animation-delay: 2s;
  animation-name: fadeInUp; }

body {
  font-size: 62.5%;
  font-style: Lobster-Regular; }

.animation-box {
  width: 75%;
  height: 27.5rem;
  background-color: blue;
  margin: 0 auto;
  overflow: hidden;
  position: relative; }

.animation-container {
  width: 1000rem;
  height: 30rem; }

@keyframes fadeInOut {
  0% {
    opacity: 0; }
  45% {
    opacity: 1; }
  100% {
    opacity: 0%; } }

.one-text {
  font-size: 3.4rem;
  position: absolute;
  top: 10.5rem;
  left: 10%;
  opacity: 0;
  color: #F0A3BE;
  animation-name: fadeInOut;
  animation-delay: 0s;
  animation-duration: 1s; }

.two-text {
  font-size: 3.4rem;
  position: absolute;
  top: 10.5rem;
  left: 10%;
  opacity: 0;
  color: #F0A3BE;
  animation-name: fadeInOut;
  animation-delay: 1s;
  animation-duration: 1s; }

.three-text {
  font-size: 3.4rem;
  position: absolute;
  top: 10.5rem;
  left: 10%;
  opacity: 0;
  color: #F0A3BE;
  animation-name: fadeInOut;
  animation-delay: 2s;
  animation-duration: 1s; }

.fourth-text {
  font-size: 3.4rem;
  position: absolute;
  top: 10.5rem;
  left: 10%;
  opacity: 0;
  color: #F0A3BE;
  animation-name: fadeInOut;
  animation-delay: 3s;
  animation-duration: 1s; }

#fourth-text, #three-text, #two-text, #one-text {
  font-size: 80px;
  position: absolute;
  top: 40%;
  left: 49%;
  z-index: 3;
  opacity: 0; }

#fourth-text {
  left: 40% !important; }

#score {
  position: absolute;
  font-size: 36px;
  z-index: 10;
  visibility: hidden;
  color: #FAFAFA;
  left: 50px;
  bottom: 50px; }

.score-container {
  color: white;
  padding-left: 15px;
  text-shadow: 15px 15px 9px rgba(0, 0, 0, 0.1);
  font-weight: bold; }

@-webkit-keyframes intelligo-logo-r3_Animation {
  0% {
    opacity: 1; }
  1.11% {
    opacity: 0; }
  90% {
    opacity: 0; }
  98.89% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes intelligo-logo-r3_Animation {
  0% {
    opacity: 1; }
  1.11% {
    opacity: 0; }
  90% {
    opacity: 0; }
  98.89% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-webkit-keyframes intelligo-logo-r1_Animation {
  0% {
    opacity: 1; }
  1.11% {
    opacity: 0; }
  81.11% {
    opacity: 0; }
  90% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes intelligo-logo-r1_Animation {
  0% {
    opacity: 1; }
  1.11% {
    opacity: 0; }
  81.11% {
    opacity: 0; }
  90% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-webkit-keyframes intelligo-logo-r2_Animation {
  0% {
    opacity: 1; }
  1.11% {
    opacity: 0; }
  70% {
    opacity: 0; }
  81.11% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes intelligo-logo-r2_Animation {
  0% {
    opacity: 1; }
  1.11% {
    opacity: 0; }
  70% {
    opacity: 0; }
  81.11% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-webkit-keyframes intelligo-logo-r4_Animation {
  0% {
    opacity: 1; }
  1.11% {
    opacity: 0; }
  58.89% {
    opacity: 0; }
  70% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes intelligo-logo-r4_Animation {
  0% {
    opacity: 1; }
  1.11% {
    opacity: 0; }
  58.89% {
    opacity: 0; }
  70% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-webkit-keyframes intelligo-logo-top_Animation {
  0% {
    opacity: 1; }
  1.11% {
    opacity: 0; }
  48.89% {
    opacity: 0; }
  58.89% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes intelligo-logo-top_Animation {
  0% {
    opacity: 1; }
  1.11% {
    opacity: 0; }
  48.89% {
    opacity: 0; }
  58.89% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-webkit-keyframes intelligo-logo-bottom_Animation {
  0% {
    opacity: 1; }
  1.11% {
    opacity: 0; }
  40% {
    opacity: 0; }
  48.89% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes intelligo-logo-bottom_Animation {
  0% {
    opacity: 1; }
  1.11% {
    opacity: 0; }
  40% {
    opacity: 0; }
  48.89% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-webkit-keyframes intelligo-logo-center-b_Animation {
  0% {
    opacity: 1; }
  1.11% {
    opacity: 0; }
  30% {
    opacity: 0; }
  40% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes intelligo-logo-center-b_Animation {
  0% {
    opacity: 1; }
  1.11% {
    opacity: 0; }
  30% {
    opacity: 0; }
  40% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-webkit-keyframes intelligo-logo-center_Animation {
  0% {
    opacity: 1; }
  1.11% {
    opacity: 0; }
  20% {
    opacity: 0; }
  30% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes intelligo-logo-center_Animation {
  0% {
    opacity: 1; }
  1.11% {
    opacity: 0; }
  20% {
    opacity: 0; }
  30% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-webkit-keyframes intelligo-logo-center-a_Animation {
  0% {
    opacity: 1; }
  1.11% {
    opacity: 0; }
  10% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes intelligo-logo-center-a_Animation {
  0% {
    opacity: 1; }
  1.11% {
    opacity: 0; }
  10% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-webkit-keyframes intelligo-logo-center-c_Animation {
  0% {
    opacity: 1; }
  1.11% {
    opacity: 0; }
  10% {
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes intelligo-logo-center-c_Animation {
  0% {
    opacity: 1; }
  1.11% {
    opacity: 0; }
  10% {
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    opacity: 1; } }

#intelligo-logo * {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 1, 1);
  animation-timing-function: cubic-bezier(0, 0, 1, 1); }

#intelligo-logo-center-a {
  fill: #333475;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  -webkit-animation-name: intelligo-logo-center-a_Animation;
  animation-name: intelligo-logo-center-a_Animation;
  opacity: 1; }

#intelligo-logo-center-c {
  fill: #afb2bc;
  -webkit-animation-name: intelligo-logo-center-c_Animation;
  animation-name: intelligo-logo-center-c_Animation;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  opacity: 1; }

#intelligo-logo-r1-c1 {
  fill: #333475; }

#intelligo-logo-r1-c2 {
  fill: #333475; }

#intelligo-logo-r2-c1 {
  fill: #333475; }

#intelligo-logo-r2-c2 {
  fill: #333475; }

#intelligo-logo-r3-c1 {
  fill: #333475; }

#intelligo-logo-r3-c2 {
  fill: #333475; }

#intelligo-logo-r4-c1 {
  fill: #333475; }

#intelligo-logo-r4-c2 {
  fill: #333475; }

#intelligo-logo-center {
  fill: #afb2bc;
  -webkit-animation-name: intelligo-logo-center_Animation;
  animation-name: intelligo-logo-center_Animation;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  opacity: 1; }

#intelligo-logo-center-b {
  fill: #333475;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  -webkit-animation-name: intelligo-logo-center-b_Animation;
  animation-name: intelligo-logo-center-b_Animation;
  opacity: 1; }

#intelligo-logo-center-a_r1Qk_ay-m {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1); }

#intelligo-logo-center-a_SkwrKpJ-X {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }

#intelligo-logo-center-a_HJa6FT1bm {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg); }

#intelligo-logo-r2 {
  -webkit-animation-name: intelligo-logo-r2_Animation;
  animation-name: intelligo-logo-r2_Animation;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  opacity: 1; }

#intelligo-logo-center-a_HJ1b5akbQ {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }

#intelligo-logo-center-b_ryNOh61bX {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg); }

#intelligo-logo-bottom {
  fill: #afb2bc;
  -webkit-animation-name: intelligo-logo-bottom_Animation;
  animation-name: intelligo-logo-bottom_Animation;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  opacity: 1; }

#intelligo-logo-top {
  fill: #afb2bc;
  -webkit-animation-name: intelligo-logo-top_Animation;
  animation-name: intelligo-logo-top_Animation;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  opacity: 1; }

#intelligo-logo-r4 {
  -webkit-animation-name: intelligo-logo-r4_Animation;
  animation-name: intelligo-logo-r4_Animation;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  opacity: 1; }

#intelligo-logo-top_SJzqQ0kZ7 {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  -webkit-transform: scale(0.5, 1);
  transform: scale(0.5, 1); }

#intelligo-logo-r1 {
  -webkit-animation-name: intelligo-logo-r1_Animation;
  animation-name: intelligo-logo-r1_Animation;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  opacity: 1; }

#intelligo-logo-r3 {
  -webkit-animation-name: intelligo-logo-r3_Animation;
  animation-name: intelligo-logo-r3_Animation;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  transform-box: fill-box;
  opacity: 1; }

.particles-js-canvas-el {
  position: absolute;
  top: 0; }

#particles-start .particles-js-canvas-el {
  position: absolute;
  z-index: -1; }

#particles-end .particles-js-canvas-el {
  position: absolute;
  z-index: -1; }
